# US Immigration And Its Contributing Factors
### Data Engineering Capstone Project

#### Project Summary
This project studies the relationship between the immigrants to US states and the population demographics, the temperature, and the airports.  
It uses STAR schema to create different dimension and fact tables based on the data sourced publicily.  
The processes developed in this Jupyter Notebook is based on premise tools.  
It uses sqlite to build a data warehouse and develops ETL scripts with Python and SQL. 

The project follows the following steps:
* [Step 1: Scope the Project and Gather Data](#step1)
* [Step 2: Explore and Assess the Data](#step2)
* [Step 3: Define the Data Model](#model)
* [Step 4: Run ETL to Model the Data](#check)
* [Step 5: Complete Project Write Up](#complete)

In [1]:
# !pip install --upgrade pandas

In [2]:
# !pip install --upgrade numpy

In [3]:
# !pip install --upgrade numexpr

In [4]:
# !pip install ipython-sql

In [9]:
#!pip install pyspark-pandas

In [2]:
# !pyspark --version

In [1]:
# Do all imports and installs here
import pandas as pd
import numpy as np
from io import StringIO
import configparser
from sqlalchemy import create_engine
import os
import boto3 # aws Python API
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, col, date_add, expr, regexp_replace
import psycopg2

In [219]:
# engine = sqlalchemy.create_engine('postgres://username:password@url:5439/db_name')

In [2]:
# show all the columns
pd.set_option('display.max_columns', None)

In [3]:
# Run sql query
%load_ext sql

In [4]:
# get the parameter from aws configure file
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY =config.get('AWS', 'KEY')
SECRET =config.get('AWS', 'SECRET')

ARN = config.get('IAM_ROLE', 'ARN')

DWH_ENDPOINT = config.get("CLUSTER", "HOST")
DWH_DB = config.get("CLUSTER", "DB_NAME") 
DWH_DB_USER = config.get("CLUSTER", "DB_USER") 
DWH_DB_PASSWORD = config.get("CLUSTER", "DB_PASSWORD")
DWH_PORT = config.get("CLUSTER", "DB_PORT")

In [5]:
# confire AWS credentials
os.environ['AWS_ACCESS_KEY_ID']=config.get('AWS', 'KEY')
os.environ['AWS_SECRET_ACCESS_KEY']=config.get('AWS', 'SECRET')

In [24]:
# print(config.get('AWS', 'KEY'), config.get('AWS', 'SECRET'))

<a id='step1'></a>

### Step 1: Scope the Project and Gather Data

#### Scope 
1. **Purpose**: The relationship among immigrants, temperature, population, and airports.
2. **Data**: immigrants, temperature, population, and airports data.
3. **Solution**: dimension tables for temperature, population, airports and fact tables for tourists.
4. **Tools**: sqlite, Python, SQL
#### Describe and Gather Data 
- **Immigrants**: immigrants and their demographics; [Source](https://www.trade.gov/national-travel-and-tourism-office)
- **Temperature**: average temperature; [Source](https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data?resource=download)
- **Population**: population and its demographics; [Source](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/)
- **Airports**: airport type and features; [Source](https://datahub.io/core/airport-codes#pandas)

<a id="step2"></a>

### Step 2: Explore and Assess the Data
#### Explore the Data 
[Identify data quality issues, like missing values, duplicate data, etc.](#identify)
- [airport](#airport)
- [immigration](#immigration)
- [cities](#city)
- [temperature](#temperature)
#### Cleaning Steps
[Document steps necessary to clean the data](#clean)

<a id="identify"></a>

#### 2.1 Explore the data ####

<a id="airport"></a>

[airport](https://datahub.io/core/airport-codes#pandas)

In [126]:
# Read data
# read data as "string" format to ensure all the information is correct
airport = pd.read_csv("../airport-codes_csv.csv", dtype="str")

In [6]:
# airport summary
airport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55075 entries, 0 to 55074
Data columns (total 12 columns):
ident           55075 non-null object
type            55075 non-null object
name            55075 non-null object
elevation_ft    48069 non-null object
continent       27356 non-null object
iso_country     54828 non-null object
iso_region      55075 non-null object
municipality    49399 non-null object
gps_code        41030 non-null object
iata_code       9189 non-null object
local_code      28686 non-null object
coordinates     55075 non-null object
dtypes: object(12)
memory usage: 5.0+ MB

**Notes**:
1. All types are "object". Need to be changed to the right formats.

In [7]:
# top 5
airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

**Notes**:
1. "iso_country" contains country and "iso_region" is combined by country and state.
2. "coordinates" needs to be separated by two columns "longitude" and "latitude".

In [8]:
# airport unique values 
airport.nunique()

ident           55075
type                7
name            52144
elevation_ft     5449
continent           6
iso_country       243
iso_region       2810
municipality    27133
gps_code        40850
iata_code        9042
local_code      27436
coordinates     54874
dtype: int64

In [9]:
# NaN rows
airport[airport.isnull().any(axis=1)]

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
5,00AS,small_airport,Fulton Airport,1100,NaN,US,US-OK,Alex,00AS,NaN,00AS,"-97.8180194, 34.9428028"
6,00AZ,small_airport,Cordes Airport,3810,NaN,US,US-AZ,Cordes,00AZ,NaN,00AZ,"-112.16500091552734, 34.305599212646484"
7,00CA,small_airport,Goldstone /Gts/ Airport,3038,NaN,US,US-CA,Barstow,00CA,NaN,00CA,"-116.888000488, 35.350498199499995"
8,00CL,small_airport,Williams Ag Airport,87,NaN,US,US-CA,Biggs,00CL,NaN,00CL,"-121.763427, 39.427188"
9,00CN,heliport,Kitchen Creek Helibase Heliport,3350,NaN,US,US-CA,Pine Valley,00CN,NaN,00CN,"-116.4597417, 32.7273736"
10,00CO,closed,Cass Field,4830,NaN,US,US-CO,Briggsdale,NaN,NaN,NaN,"-104.344002, 40.622202"
11,00FA,small_airport,Grass Patch Airport,53,NaN,US,US-FL,Bushnell,00FA,NaN,00FA,"-82.21900177001953, 28.64550018310547"
12,00FD,heliport,Ringhaver Heliport,25,NaN,US,US-FL,Riverview,00FD,NaN,00FD,"-82.34539794921875, 28.846599578857422"
13,00FL,small_airport,River Oak Airport,35,NaN,US,US-FL,Okeechobee,00FL,NaN,00FL,"-80.96920013427734, 27.230899810791016"
14,00GA,small_airport,Lt World Airport,700,NaN,US,US-GA,Lithonia,00GA,NaN,00GA,"-84.06829833984375, 33.76750183105469"
15,00GE,heliport,Caffrey Heliport,957,NaN,US,US-GA,Hiram,00GE,NaN,00GE,"-84.73390197753906, 33.88420104980469"
16,00HI,heliport,Kaupulehu Heliport,43,NaN,US,US-HI,Kailua/Kona,00HI,NaN,00HI,"-155.980233, 19.832715"
17,00ID,small_airport,Delta Shores Airport,2064,NaN,US,US-ID,Clark Fork,00ID,NaN,00ID,"-116.21399688720703, 48.145301818847656"
18,00IG,small_airport,Goltl Airport,3359,NaN,US,US-KS,McDonald,00IG,NaN,00IG,"-101.395994, 39.724028"
19,00II,heliport,Bailey Generation Station Heliport,600,NaN,US,US-IN,Chesterton,00II,NaN,00II,"-87.122802734375, 41.644500732421875"
20,00IL,small_airport,Hammer Airport,840,NaN,US,US-IL,Polo,00IL,NaN,00IL,"-89.5604019165039, 41.97840118408203"
21,00IN,heliport,St Mary Medical Center Heliport,634,NaN,US,US-IN,Hobart,00IN,NaN,00IN,"-87.2605972290039, 41.51139831542969"
22,00IS,small_airport,Hayenga's Cant Find Farms Airport,820,NaN,US,US-IL,Kings,00IS,NaN,00IS,"-89.1229019165039, 40.02560043334961"
23,00KS,small_airport,Hayden Farm Airport,1100,NaN,US,US-KS,Gardner,00KS,NaN,00KS,"-94.93049621582031, 38.72779846191406"
24,00KY,small_airport,Robbins Roost Airport,1265,NaN,US,US-KY,Stanford,00KY,NaN,00KY,"-84.61969757080078, 37.409400939941406"
25,00LA,heliport,Shell Chemical East Site Heliport,15,NaN,US,US-LA,Gonzales,00LA,NaN,00LA,"-90.980833, 30.191944"
26,00LL,heliport,Ac & R Components Heliport,600,NaN,US,US-IL,Chatham,00LL,NaN,00LL,"-89.70559692382812, 39.66529846191406"
27,00LS,small_airport,Lejeune Airport,12,NaN,US,US-LA,Esterwood,00LS,NaN,00LS,"-92.42939758300781, 30.13629913330078"
28,00MD,small_airport,Slater Field,45,NaN,US,US-MD,Federalsburg,00MD,NaN,00MD,"-75.75379943847656, 38.75709915161133"
29,00MI,heliport,Dow Chemical Heliport,588,NaN,US,US-MI,Ludington,00MI,NaN,00MI,"-86.41670227050781, 43.94940185546875"
...,...,...,...,...,...,...,...,...,...,...,...,...
55045,ZYAS,medium_airport,Anshan Air Base,NaN,AS,CN,CN-21,Anshan,ZYAS,AOG,NaN,"122.853996, 41.105301"
55046,ZYCC,medium_airport,Longjia Airport,706,AS,CN,CN-22,Changchun,ZYCC,CGQ,NaN,"125.684997559, 43.9962005615"
55047,ZYCH,medium_airport,Changhai Airport,80,AS,CN,CN-21,Changhai,ZYCH,CNI,NaN,"122.666944444, 39.2666666667"
55048,ZYCY,medium_airport,Chaoyang Airport,568,AS,CN,CN-21,Chaoyang,ZYCY,CHG,NaN,"120.434998, 41.538101"
55049,ZYDU,medium_airport,Wudalianchi Dedu Airport,984,AS,CN,CN-23,Wudalianchi,ZYDU,DTU,NaN,"126.133, 48.445"
55050,ZYFX,small_airport,Fuxin Airport,548,AS,CN,CN-21,Fuxin,ZYFX,NaN,NaN,"121.718122, 42.069014"
55051,ZYFY,medium_airport,Dongji Aiport,NaN,AS,CN,CN-23,Fuyuan,ZYFY,FYJ,NaN,"134.366447, 48.199494"
55052,ZYHB,large_airport,Taiping Airport,457,AS,CN,CN-23,Harbin,ZYHB,HRB,NaN,"126.25, 45.6234016418457"
55053,ZYHE,medium_airport,Heihe Airport,8530,AS,CN,CN-23,Heihe,ZYHE,HEK,NaN,"127.308883667, 50.1716209371"
55054,ZYJL,small_airport,Jilin Airport,NaN,AS,CN,CN-22,Jilin,ZYJL,JIL,NaN,"126.396004, 44.002201"
55055,ZYJM,medium_airport,Jiamusi Airport,262,AS,CN,CN-23,Jiamusi,ZYJM,JMU,NaN,"130.464996338, 46.84339904789999"
55056,ZYJS,medium_airport,Jiansanjiang Airport,NaN,AS,CN,CN-23,Jiansanjiang,ZYJS,JSJ,NaN,"132.660278, 47.11"
55057,ZYJX,medium_airport,Jixi Xingkaihu Airport,760,AS,CN,CN-23,Jixi,ZYJX,JXA,NaN,"131.193, 45.293"
55058,ZYJZ,medium_airport,Jinzhou Airport,NaN,AS,CN,CN-21,Jinzhou,ZYJZ,JNZ,NaN,"121.06199645996094, 41.10139846801758"
55059,ZYLD,medium_airport,Lindu Airport,791,AS,CN,CN-23,Yichun,ZYLD,LDS,NaN,"129.019125, 47.7520555556"
55060,ZYLS,medium_airport,Yushu Batang Airport,12816,AS,CN,CN-63,Yushu,ZYLS,YUS,NaN,"97.0363888889, 32.836388888900004"
55061,ZYMD,medium_airport,Mudanjiang Hailang International Airport,883,AS,CN,CN-23,Mudanjiang,ZYMD,MDG,NaN,"129.569000244, 44.5241012573"
55062,ZYMH,medium_airport,Gu-Lian Airport,1836,AS,CN,CN-23,Mohe,ZYMH,OHE,NaN,"122.43, 52.912777777799995"
55063,ZYQQ,medium_airport,Qiqihar Sanjiazi Airport,477,AS,CN,CN-23,Qiqihar,ZYQQ,NDG,NaN,"123.91799926757812, 47.239601135253906"
55064,ZYSQ,medium_airport,Songyuan Chaganhu Airport,459,AS,CN,CN-22,Qian Gorlos Mongol Autonomous County,ZYSQ,YSQ,NaN,"124.550178, 44.938114"
55065,ZYTH,small_airport,Tahe Airport,1240,AS,CN,CN-23,Tahe,ZYTH,NaN,NaN,"124.720222222, 52.2244444444"
55066,ZYTL,large_airport,Zhoushuizi Airport,107,AS,CN,CN-21,Dalian,ZYTL,DLC,NaN,"121.53900146484375, 38.9656982421875"
55067,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,1200,AS,CN,CN-22,Tonghua,ZYTN,TNH,NaN,"125.703333333, 42.2538888889"
55068,ZYTX,large_airport,Taoxian Airport,198,AS,CN,CN-21,Shenyang,ZYTX,SHE,NaN,"123.48300170898438, 41.639801025390625"
55069,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,624,AS,CN,CN-22,Yanji,ZYYJ,YNJ,NaN,"129.451004028, 42.8828010559"
55070,ZYYK,medium_airport,Yingkou Lanqi Airport,0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
55071,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
55072,ZZ-0001,heliport,Sealand Helipad,40,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
55073,ZZ-0002,small_airport,Glorioso Islands Airstrip,11,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
55074,ZZZZ,small_airport,Satsuma IÅjima Airport,338,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,NaN,"130.270556, 30.784722"

**Notes**:
1. 54397 rows out of 55075 contain NaN.

In [10]:
# NaN columns
airport.columns[airport.isna().any()]

Index(['elevation_ft', 'continent', 'iso_country', 'municipality', 'gps_code',
       'iata_code', 'local_code'],
      dtype='object')

**Notes**:
1. Some columns contain NaN values.

In [11]:
# mo duplicates
len(airport) == len(airport.drop_duplicates())

True

**Notes**:
1. There are no duplicates.

<a id="immigration"></a>

[Immigration](https://www.trade.gov/national-travel-and-tourism-office)

Use PySpark to load the full dataset.

In [143]:
# configure PySpark
spark = (SparkSession \
    .builder \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
    .getOrCreate())

In [144]:
# read the data 
immigration=spark.read.parquet("../sas_data/*.parquet")

In [8]:
# top 5
immigration.show(5)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 5 rows

In [9]:
# data type
immigration.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [65]:
# duplicates
immigration.drop_duplicates().count() == immigration.count()

True

**Notes**:
1. "i94addr" contains "State" which could be a foreign key to link the above airport data.
2. Some columns contain "null" like "occup", "entdepu", "insnum".
3. Data formats need to be converted.
4. There are no duplicates.

<a id="city"></a>

[Cities](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/)

In [127]:
# cities
# read data as "string" format to ensure all the information is correct and assign delimiter ";"
cities = pd.read_csv("../us-cities-demographics.csv", delimiter=";", dtype="str")

In [16]:
# top 5
cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601,41862,82463,1562,30908,2.6,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129,49500,93629,4147,32935,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127,87105,175232,5821,33878,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040,143873,281913,5829,86253,2.73,NJ,White,76402

**Notes**:
1. "State Code" can be used as a foreign key to join the above two tables.
2. Notice that "Race" and "Count" columns need to be transformed from long to wide so each race can be a separate column containing the population for that race.

In [17]:
# data information
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
City                      2891 non-null object
State                     2891 non-null object
Median Age                2891 non-null object
Male Population           2888 non-null object
Female Population         2888 non-null object
Total Population          2891 non-null object
Number of Veterans        2878 non-null object
Foreign-born              2878 non-null object
Average Household Size    2875 non-null object
State Code                2891 non-null object
Race                      2891 non-null object
Count                     2891 non-null object
dtypes: object(12)
memory usage: 271.1+ KB

**Notes**:
1. All types are "object". Need to be changed to the right formats.

In [18]:
# unique information
cities.nunique()

City                       567
State                       49
Median Age                 180
Male Population            593
Female Population          594
Total Population           594
Number of Veterans         577
Foreign-born               587
Average Household Size     161
State Code                  49
Race                         5
Count                     2785
dtype: int64

In [19]:
# NaN rows
cities[cities.isnull().any(axis=1)]

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
111,San Juan,Puerto Rico,41.4,155408,186829,342237,NaN,NaN,NaN,PR,Hispanic or Latino,335559
155,Caguas,Puerto Rico,40.4,34743,42265,77008,NaN,NaN,NaN,PR,Hispanic or Latino,76349
258,Carolina,Puerto Rico,42.0,64758,77308,142066,NaN,NaN,NaN,PR,American Indian and Alaska Native,12143
333,The Villages,Florida,70.5,NaN,NaN,72590,15231,4034,NaN,FL,Hispanic or Latino,1066
449,The Villages,Florida,70.5,NaN,NaN,72590,15231,4034,NaN,FL,Black or African-American,331
637,Carolina,Puerto Rico,42.0,64758,77308,142066,NaN,NaN,NaN,PR,Hispanic or Latino,139967
1437,The Villages,Florida,70.5,NaN,NaN,72590,15231,4034,NaN,FL,White,72211
1747,San Juan,Puerto Rico,41.4,155408,186829,342237,NaN,NaN,NaN,PR,American Indian and Alaska Native,4031
1748,Mayagüez,Puerto Rico,38.1,30799,35782,66581,NaN,NaN,NaN,PR,Asian,235
1995,Ponce,Puerto Rico,40.5,56968,64615,121583,NaN,NaN,NaN,PR,Hispanic or Latino,120705
2004,Bayamón,Puerto Rico,39.4,80128,90131,170259,NaN,NaN,NaN,PR,Hispanic or Latino,169155
2441,San Juan,Puerto Rico,41.4,155408,186829,342237,NaN,NaN,NaN,PR,Asian,2452
2589,Guaynabo,Puerto Rico,42.2,33066,37426,70492,NaN,NaN,NaN,PR,Hispanic or Latino,69936
2597,Caguas,Puerto Rico,40.4,34743,42265,77008,NaN,NaN,NaN,PR,American Indian and Alaska Native,624
2654,Guaynabo,Puerto Rico,42.2,33066,37426,70492,NaN,NaN,NaN,PR,American Indian and Alaska Native,589
2746,Mayagüez,Puerto Rico,38.1,30799,35782,66581,NaN,NaN,NaN,PR,Hispanic or Latino,65521

**Notes**:
1. 16 rows out of 2891 contain NaN, which could be dropped.

In [20]:
# NaN columns
cities.columns[cities.isna().any()]

Index(['Male Population', 'Female Population', 'Number of Veterans',
       'Foreign-born', 'Average Household Size'],
      dtype='object')

**Notes**:
1. Some columns contain NaN values.

In [21]:
# duplicates
len(cities) == len(cities.drop_duplicates())

True

**Notes**:
1. There are no duplicates.

<a id="temperature"></a>

[Temperature](https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data?resource=download)

In [128]:
# temperature
# read data as "string" format to ensure all the information is correct
temperature = pd.read_csv("../GlobalLandTemperaturesByState.csv", dtype="str")

In [23]:
# top 5
temperature.head()

           dt AverageTemperature AverageTemperatureUncertainty State Country
0  1855-05-01             25.544                         1.171  Acre  Brazil
1  1855-06-01             24.228                         1.103  Acre  Brazil
2  1855-07-01             24.371                         1.044  Acre  Brazil
3  1855-08-01             25.427                         1.073  Acre  Brazil
4  1855-09-01             25.675                         1.014  Acre  Brazil

**Notes**:
1. "State" contain the names of the states in each country, which could work as foreign key to join the above "cities" table and then get the "State Code" to join the other tables.

In [24]:
# data information
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
dt                               645675 non-null object
AverageTemperature               620027 non-null object
AverageTemperatureUncertainty    620027 non-null object
State                            645675 non-null object
Country                          645675 non-null object
dtypes: object(5)
memory usage: 24.6+ MB

**Notes**:
1. All types are "object". Need to be changed to the right formats.

In [25]:
# statistics
temperature.describe()

,dt,AverageTemperature,AverageTemperatureUncertainty,State,Country
count,645675,620027,620027,645675,645675
unique,3239,100924,8040,241,7
top,1956-12-01,18.402,0.255,Florida,Russia
freq,241,36,1042,3239,254972

In [26]:
# unique values
temperature.nunique()

dt                                 3239
AverageTemperature               100924
AverageTemperatureUncertainty      8040
State                               241
Country                               7
dtype: int64

In [27]:
# NaN rows
temperature[temperature.isnull().any(axis=1)]

,dt,AverageTemperature,AverageTemperatureUncertainty,State,Country
14,1856-07-01,NaN,NaN,Acre,Brazil
20,1857-01-01,NaN,NaN,Acre,Brazil
21,1857-02-01,NaN,NaN,Acre,Brazil
22,1857-03-01,NaN,NaN,Acre,Brazil
23,1857-04-01,NaN,NaN,Acre,Brazil
24,1857-05-01,NaN,NaN,Acre,Brazil
25,1857-06-01,NaN,NaN,Acre,Brazil
26,1857-07-01,NaN,NaN,Acre,Brazil
27,1857-08-01,NaN,NaN,Acre,Brazil
28,1857-09-01,NaN,NaN,Acre,Brazil
29,1857-10-01,NaN,NaN,Acre,Brazil
30,1857-11-01,NaN,NaN,Acre,Brazil
31,1857-12-01,NaN,NaN,Acre,Brazil
32,1858-01-01,NaN,NaN,Acre,Brazil
33,1858-02-01,NaN,NaN,Acre,Brazil
34,1858-03-01,NaN,NaN,Acre,Brazil
35,1858-04-01,NaN,NaN,Acre,Brazil
36,1858-05-01,NaN,NaN,Acre,Brazil
37,1858-06-01,NaN,NaN,Acre,Brazil
38,1858-07-01,NaN,NaN,Acre,Brazil
39,1858-08-01,NaN,NaN,Acre,Brazil
40,1858-09-01,NaN,NaN,Acre,Brazil
41,1858-10-01,NaN,NaN,Acre,Brazil
42,1858-11-01,NaN,NaN,Acre,Brazil
43,1858-12-01,NaN,NaN,Acre,Brazil
44,1859-01-01,NaN,NaN,Acre,Brazil
45,1859-02-01,NaN,NaN,Acre,Brazil
46,1859-03-01,NaN,NaN,Acre,Brazil
47,1859-04-01,NaN,NaN,Acre,Brazil
48,1859-05-01,NaN,NaN,Acre,Brazil
...,...,...,...,...,...
641495,1838-03-01,NaN,NaN,Yunnan,China
641497,1838-05-01,NaN,NaN,Yunnan,China
641504,1838-12-01,NaN,NaN,Yunnan,China
641505,1839-01-01,NaN,NaN,Yunnan,China
641506,1839-02-01,NaN,NaN,Yunnan,China
641507,1839-03-01,NaN,NaN,Yunnan,China
641508,1839-04-01,NaN,NaN,Yunnan,China
641509,1839-05-01,NaN,NaN,Yunnan,China
641510,1839-06-01,NaN,NaN,Yunnan,China
641511,1839-07-01,NaN,NaN,Yunnan,China
641512,1839-08-01,NaN,NaN,Yunnan,China
641513,1839-09-01,NaN,NaN,Yunnan,China
641514,1839-10-01,NaN,NaN,Yunnan,China
641515,1839-11-01,NaN,NaN,Yunnan,China
641516,1839-12-01,NaN,NaN,Yunnan,China
641648,1850-12-01,NaN,NaN,Yunnan,China
641651,1851-03-01,NaN,NaN,Yunnan,China
641731,1857-11-01,NaN,NaN,Yunnan,China
641732,1857-12-01,NaN,NaN,Yunnan,China
641784,1862-04-01,NaN,NaN,Yunnan,China
641785,1862-05-01,NaN,NaN,Yunnan,China
641786,1862-06-01,NaN,NaN,Yunnan,China
641787,1862-07-01,NaN,NaN,Yunnan,China
641788,1862-08-01,NaN,NaN,Yunnan,China
641789,1862-09-01,NaN,NaN,Yunnan,China
641790,1862-10-01,NaN,NaN,Yunnan,China
641791,1862-11-01,NaN,NaN,Yunnan,China
641792,1862-12-01,NaN,NaN,Yunnan,China
643601,2013-09-01,NaN,NaN,Yunnan,China
645674,2013-09-01,NaN,NaN,Zhejiang,China

**Notes**:
1. 25648 rows out of 645675 contain NaN.

In [28]:
# NaN columns
temperature.columns[temperature.isna().any()]

Index(['AverageTemperature', 'AverageTemperatureUncertainty'], dtype='object')

**Notes**:
1. Some columns contain NaN values.

In [29]:
# duplicates
len(temperature) == len(temperature.drop_duplicates())

True

**Notes**:
1. There are no duplicates.

<a id="clean"></a>

#### 2.2 Clean Steps

##### airport
1. to numeric "elevation_ft"
2. Separate "iso_region" to two columns  
3. Separate "coordinates" to two columns and round
4. Drop other airport type only keeping "airport" & not closed
5. Only include US

In [129]:
# US airport 
airportUS = (airport.loc[(airport.iso_country == "US") 
                         & ~(airport.type == "closed") 
                         & airport.type.str.contains("airport")])

In [130]:
# change "elevation_ft" to numeric
airportUS["elevation_ft"] = airportUS["elevation_ft"].astype(float)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [131]:
# separate "iso_region" to "country" and "region"
airportUS[["country", "region"]] = airportUS["iso_region"].str.split("-", 1, expand = True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [132]:
# separate "iso_region" to "country" and "region" and round 4
airportUS[["longitude", "latitude"]] = airportUS["coordinates"].str.split(",", 1, expand = True).astype(float).round(4)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [133]:
# drop unnecessary columns 
airportUSNew = (airportUS.drop(["iso_country", "iso_region", "coordinates", "country", 
                                "continent","iata_code", "gps_code", "local_code", "municipality"], 
                               axis=1))

In [35]:
# NaN rows
airportUSNew[airportUSNew.isnull().any(axis=1)]

,ident,type,name,elevation_ft,region,longitude,latitude
6875,63CA,small_airport,Desert Air Sky Ranch Airport,NaN,CA,-115.8740,33.4811
6981,65LA,small_airport,Southern Seaplane Airport,NaN,LA,-90.0222,29.8661
7653,6XA4,small_airport,Zadow Airstrip,NaN,TX,-95.9544,29.9917
9006,8AL3,small_airport,Fricks Field Airport,NaN,AL,-86.0886,34.1418
9910,9CL9,small_airport,Spezia Airport,NaN,CA,-121.5340,38.2166
12375,BOBS,small_airport,Bobs,NaN,AR,-91.4437,35.3915
12378,BONI,small_airport,Bonita,NaN,LA,-91.7114,32.8944
12788,BUTL,small_airport,Butlerville Field,NaN,AR,-91.8312,34.9697
14544,CHAN,small_airport,A & C AG Aviation Inc,NaN,GA,-83.6929,32.1711
15740,CRAI,small_airport,Craig's field,NaN,LA,-91.9192,30.4962
22637,GOAD,small_airport,Goads field,NaN,AR,-91.4025,35.4142
23109,HOPA,small_airport,Hoppe Airspray,NaN,IA,-92.8355,42.2570
24946,JAMI,small_airport,Jamies,NaN,AR,-90.7291,35.5205
24982,JOEY,small_airport,Joeys,NaN,AR,-91.3483,35.3985
28633,KPRS,small_airport,Presidio Lely International Airport,NaN,TX,-104.3615,29.6342
38029,OVER,small_airport,Overturf Field,NaN,AR,-91.9781,34.9977
38388,PAUT,small_airport,Akun Airport,NaN,AK,-165.6076,54.1450
39070,POSG,small_airport,Possum Grape Exit,NaN,AR,-91.3980,35.4582
40095,RSCO,small_airport,Scotts Field,NaN,AR,-90.8002,36.0143
47563,TA37,small_airport,Vaca Moo Airport,NaN,TX,-95.7126,32.4280
49015,US-0001,small_airport,Flying M Ranch Airstrip,NaN,NV,-118.9960,38.6094
49023,US-0009,small_airport,Ski Valley Airport,NaN,ID,-116.1740,44.9291
49025,US-0011,small_airport,Cascade Reservoir Private Strip,NaN,ID,-116.0870,44.6474
49069,US-0055,small_airport,Alaki Hot Springs,NaN,NV,-118.0733,37.6750
49070,US-0056,small_airport,"Delle, Utah",NaN,UT,-112.7873,40.7626
49073,US-0059,small_airport,Chicken Strip,NaN,CA,-117.7817,36.8070
49177,US-0163,small_airport,Panamint Springs Airstrip,NaN,CA,-117.4671,36.3383
49191,US-0177,small_airport,Utley Field,NaN,TX,-97.4060,30.1827
49214,US-0200,small_airport,Kogru River,NaN,AK,-152.2597,70.5740
49215,US-0201,small_airport,Cape Simpson,NaN,AK,-154.7365,71.0580
...,...,...,...,...,...,...,...
49267,US-0253,small_airport,Collensville/twincreek,NaN,AK,-151.4754,62.3394
49268,US-0254,medium_airport,Yuma Auxiliary AAF #2,NaN,AZ,-114.5114,32.5490
49272,US-0258,small_airport,Austin Executive Airport,NaN,TX,-97.5664,30.3975
49273,US-0259,small_airport,Snyder Winston Field,NaN,TX,-100.9500,32.6900
49282,US-0268,small_airport,Gardiners Island Landing Field,NaN,NY,-72.0922,41.0652
49299,US-0285,small_airport,Private strip nr Huntsville,NaN,TX,-95.5422,30.7985
49300,US-0286,small_airport,Hodges Airfield,NaN,LA,-93.3951,31.3736
49301,US-0287,small_airport,"Forest service strip nr Kurthwood, LA",NaN,LA,-93.1574,31.3165
49318,US-0303,large_airport,atl,NaN,U-A,-84.3750,33.1376
49372,US-0357,small_airport,Reynolds Field,NaN,AR,-91.0685,35.1894
49386,US-0371,small_airport,Bells Field,NaN,AR,-91.5460,34.9802
49387,US-0372,small_airport,Stans Field,NaN,AR,-91.2572,34.9897
49388,US-0373,small_airport,Mallets Field,NaN,AR,-92.5350,35.2111
49389,US-0374,small_airport,Lesters Field,NaN,AR,-91.3411,35.2773
49469,US-0454,small_airport,Pumpkin Patch Field,NaN,AR,-92.2178,34.6368
49475,US-0460,small_airport,Falwell Base,NaN,AR,-91.3330,35.5491
49480,US-0465,small_airport,Falwell Freeway,NaN,AR,-91.3625,35.4650
49481,US-0466,small_airport,Schroeder's field,NaN,AR,-91.7388,35.0717
49694,US-0679,small_airport,Entz Arts Airport,NaN,OK,0.0000,35.4499
49757,US-0742,medium_airport,34S Airport,NaN,U-A,-16.8750,19.1452
49758,US-0743,small_airport,23R Airport,NaN,CA,8.4375,11.5231
49820,US-0805,small_airport,Twin Cities,NaN,U-A,0.0000,0.0000
49893,US-0878,small_airport,Buy Generic Cytotec Online Without A Prescript...,NaN,NY,3.0000,1.0000
49894,US-0879,medium_airport,Buy Lyrica online (Pregabalin) 150mg capsules ...,NaN,U-A,3.1667,-1.1667
49898,US-0883,large_airport,JFK,NaN,NY,0.0000,0.0000
49947,US-0932,small_airport,CLE,NaN,U-A,0.0000,0.0000
49969,US-0954,small_airport,Dulpicate - Shelter Cove Airport,NaN,CA,124.0711,40.0289
49999,US-0984,small_airport,0c2,NaN,IL,0.0000,0.0000
50032,US-1016,large_airport,JFK,NaN,NY,0.0000,0.0000
51887,WEON,small_airport,Weona,NaN,AR,-90.5965,35.5404

In [36]:
# len(airportUSNew) ## 14582

Only 63 rows out of 14582 rows contain NaN, which could be dropped.

In [134]:
# drop NaN
airportUSNewNoNa = airportUSNew.dropna()

In [38]:
# NaN rows
#airportUSNewNoNa[airportUSNewNoNa.isnull().any(axis=1)]

In [39]:
# duplicates
len(airportUSNewNoNa) == len(airportUSNewNoNa.drop_duplicates())

True

In [40]:
# data information
airportUSNewNoNa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14519 entries, 1 to 54896
Data columns (total 7 columns):
ident           14519 non-null object
type            14519 non-null object
name            14519 non-null object
elevation_ft    14519 non-null float64
region          14519 non-null object
longitude       14519 non-null float64
latitude        14519 non-null float64
dtypes: float64(3), object(4)
memory usage: 907.4+ KB

In [41]:
# top 5
airportUSNewNoNa.head()

,ident,type,name,elevation_ft,region,longitude,latitude
1,00AA,small_airport,Aero B Ranch Airport,3435.0,KS,-101.4739,38.7040
2,00AK,small_airport,Lowell Field,450.0,AK,-151.6960,59.9492
3,00AL,small_airport,Epps Airpark,820.0,AL,-86.7703,34.8648
5,00AS,small_airport,Fulton Airport,1100.0,OK,-97.8180,34.9428
6,00AZ,small_airport,Cordes Airport,3810.0,AZ,-112.1650,34.3056

In [63]:
# save it as a csv and remove header and index and move it to aws s3 
airportUSNewNoNa.to_csv("airportUS.csv", sep=",", header=False, index=False, encoding="utf-8")
s3 = boto3.resource('s3')
s3.meta.client.upload_file('airportUS.csv', 'udacity-capstone-project-bucket-test', 'airportUS.csv')

##### cities
1. Transform columns "Race" and "Count" from long to wide
2. To numeric: "Male Population", "Female Population", "Total Population", "Number of Veterans", "Foreign-born", "Count"
3. To float: "Median Age", "Average Household Size"

In [18]:
# NaN rows
cities[cities.isnull().any(axis=1)]

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
111,San Juan,Puerto Rico,41.4,155408,186829,342237,NaN,NaN,NaN,PR,Hispanic or Latino,335559
155,Caguas,Puerto Rico,40.4,34743,42265,77008,NaN,NaN,NaN,PR,Hispanic or Latino,76349
258,Carolina,Puerto Rico,42.0,64758,77308,142066,NaN,NaN,NaN,PR,American Indian and Alaska Native,12143
333,The Villages,Florida,70.5,NaN,NaN,72590,15231,4034,NaN,FL,Hispanic or Latino,1066
449,The Villages,Florida,70.5,NaN,NaN,72590,15231,4034,NaN,FL,Black or African-American,331
637,Carolina,Puerto Rico,42.0,64758,77308,142066,NaN,NaN,NaN,PR,Hispanic or Latino,139967
1437,The Villages,Florida,70.5,NaN,NaN,72590,15231,4034,NaN,FL,White,72211
1747,San Juan,Puerto Rico,41.4,155408,186829,342237,NaN,NaN,NaN,PR,American Indian and Alaska Native,4031
1748,Mayagüez,Puerto Rico,38.1,30799,35782,66581,NaN,NaN,NaN,PR,Asian,235
1995,Ponce,Puerto Rico,40.5,56968,64615,121583,NaN,NaN,NaN,PR,Hispanic or Latino,120705
2004,Bayamón,Puerto Rico,39.4,80128,90131,170259,NaN,NaN,NaN,PR,Hispanic or Latino,169155
2441,San Juan,Puerto Rico,41.4,155408,186829,342237,NaN,NaN,NaN,PR,Asian,2452
2589,Guaynabo,Puerto Rico,42.2,33066,37426,70492,NaN,NaN,NaN,PR,Hispanic or Latino,69936
2597,Caguas,Puerto Rico,40.4,34743,42265,77008,NaN,NaN,NaN,PR,American Indian and Alaska Native,624
2654,Guaynabo,Puerto Rico,42.2,33066,37426,70492,NaN,NaN,NaN,PR,American Indian and Alaska Native,589
2746,Mayagüez,Puerto Rico,38.1,30799,35782,66581,NaN,NaN,NaN,PR,Hispanic or Latino,65521

In [19]:
# len(cities[cities.isnull().any(axis=1)]) ## 16 rows are blank

In [20]:
# len(cities) ## 2891

16 rows out of 2891 are blank. And the status are "Puerto Rico" and "Florida (The Villages)". Thus, dropped these places.

In [135]:
# drop NaN
citiesNoNa = cities.dropna()

In [136]:
# change "Count" to "float" before converting, otherwise showing errors
citiesNoNa["Count"] = citiesNoNa["Count"].astype(float)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [137]:
# transform from long to wide
citiesPop = citiesNoNa[['City', 'State', 'Median Age', 'Male Population',
       'Female Population', 'Total Population', 'Number of Veterans',
       'Foreign-born', 'Average Household Size', 'State Code']]
citiesRace = (pd.pivot_table(citiesNoNa[["City", "Race", "Count"]], 
                             index="City", columns = "Race", values= "Count")
                          .reset_index().reset_index(drop=True).rename_axis(None, axis=1))
citiesNew = citiesPop.merge(citiesRace, on="City", how="left")

In [24]:
# citiesNew.head()

In [138]:
# to integer 
citiesNew[["Male Population", "Female Population", 
           "Total Population", "Number of Veterans", "Foreign-born"]] = (citiesNew[["Male Population", "Female Population", 
                                                        "Total Population", "Number of Veterans", "Foreign-born"
                                                        ]].astype(int))

In [139]:
# to float since some rows contain NaN
# show errors if converting to int
citiesNew[["American Indian and Alaska Native", "Asian", 
           "Black or African-American", "Hispanic or Latino", "White"]] = (citiesNew[["American Indian and Alaska Native", "Asian", 
                                                                                      "Black or African-American", "Hispanic or Latino", "White"]].astype(float))

In [140]:
# to float
citiesNew[["Median Age", "Average Household Size"]] = (citiesNew[["Median Age", "Average Household Size"]].astype(float))

In [28]:
# NaN rows
citiesNew[citiesNew.isnull().any(axis=1)]

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,American Indian and Alaska Native,Asian,Black or African-American,Hispanic or Latino,White
2,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,NaN,4759.0,18191.0,3430.0,61869.0
15,Fort Myers,Florida,37.3,36850,37165,74015,4312,15365,2.45,FL,NaN,3519.0,17298.0,17866.0,50169.0
35,Miami Gardens,Florida,34.9,50719,62480,113199,2327,33394,3.75,FL,NaN,NaN,85300.0,23287.0,27273.0
38,North Little Rock,Arkansas,33.6,31671,34835,66506,4130,2787,2.62,AR,713.0,NaN,30766.0,4860.0,34118.0
44,New Britain,Connecticut,33.4,37350,35459,72809,2219,15080,2.52,CT,NaN,2297.0,9873.0,30188.0,56431.0
49,Camden,New Jersey,27.9,36437,39694,76131,1425,11317,3.00,NJ,NaN,1686.0,35237.0,41473.0,19907.0
71,Lynwood,California,29.4,35634,36371,72005,776,28061,4.43,CA,NaN,994.0,5346.0,63377.0,48670.0
134,Alafaya,Florida,33.5,39504,45760,85264,4176,15842,2.94,FL,NaN,10336.0,6577.0,34897.0,63666.0
138,Miami Beach,Florida,42.5,48090,44221,92311,2265,49908,2.10,FL,NaN,2772.0,4013.0,47446.0,72180.0
156,Champaign,Illinois,28.7,43326,42760,86086,3734,12261,2.25,IL,NaN,11746.0,16163.0,4015.0,58099.0
177,Miramar,Florida,36.6,66157,70958,137115,3077,57179,3.41,FL,NaN,12084.0,65840.0,46767.0,58914.0
179,Arlington Heights,Illinois,45.9,37627,39369,76996,3027,14630,2.38,IL,NaN,9975.0,1222.0,2742.0,66285.0
186,Sterling Heights,Michigan,39.6,64985,67077,132062,6970,34313,2.66,MI,NaN,12264.0,8054.0,2811.0,112743.0
201,Edinburg,Texas,29.3,39422,45079,84501,2409,16569,3.31,TX,NaN,812.0,NaN,74698.0,77560.0
206,Bethlehem,Pennsylvania,35.1,35861,38506,74367,4704,6295,2.46,PA,NaN,3759.0,7821.0,23409.0,64526.0
213,Vista,California,29.3,50680,50204,100884,4957,23271,3.52,CA,NaN,7189.0,5164.0,49524.0,83529.0
227,Fishers,Indiana,34.5,42161,43910,86071,2469,6138,2.80,IN,NaN,7571.0,6873.0,3409.0,73361.0
231,Victoria,Texas,35.8,32290,35291,67581,5000,4480,2.70,TX,NaN,2032.0,6058.0,34409.0,58798.0
232,Victoria,Texas,35.8,32290,35291,67581,5000,4480,2.70,TX,NaN,2032.0,6058.0,34409.0,58798.0
242,Gulfport,Mississippi,35.1,33108,38764,71872,6646,3072,2.54,MS,NaN,1723.0,27799.0,4247.0,42870.0
259,Ames,Iowa,23.0,33814,31238,65052,2265,8606,2.16,IA,NaN,8979.0,1103.0,2024.0,56157.0
296,Kissimmee,Florida,36.7,33283,35869,69152,2449,16879,3.01,FL,NaN,2634.0,6623.0,44120.0,51123.0
324,Bayonne,New Jersey,39.7,32705,33598,66303,2225,21899,2.62,NJ,NaN,7171.0,7581.0,19525.0,41431.0
357,Plantation,Florida,40.6,42881,49674,92555,4037,27902,2.73,FL,NaN,3954.0,19670.0,26401.0,66970.0
363,North Little Rock,Arkansas,33.6,31671,34835,66506,4130,2787,2.62,AR,713.0,NaN,30766.0,4860.0,34118.0
372,Lynwood,California,29.4,35634,36371,72005,776,28061,4.43,CA,NaN,994.0,5346.0,63377.0,48670.0
389,Kendall,Florida,40.2,36658,39808,76466,1678,31180,2.81,FL,NaN,3650.0,2937.0,47521.0,70266.0
393,Walnut Creek,California,47.6,31994,36912,68906,4977,13624,2.22,CA,NaN,10831.0,1705.0,5212.0,57064.0
394,Mission,Texas,32.9,40530,42777,83307,2383,22608,3.51,TX,NaN,3075.0,NaN,73367.0,77985.0
397,Cheektowaga,New York,40.7,37476,38599,76075,5408,3532,2.30,NY,NaN,1584.0,10562.0,1994.0,63541.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,Sunrise,Florida,37.7,41471,51235,92706,4108,38209,2.98,FL,NaN,3501.0,33951.0,29163.0,54976.0
2473,Laguna Niguel,California,45.8,30193,35619,65812,2648,12571,2.58,CA,NaN,8499.0,881.0,9203.0,55919.0
2493,Sterling Heights,Michigan,39.6,64985,67077,132062,6970,34313,2.66,MI,NaN,12264.0,8054.0,2811.0,112743.0
2505,Kendall,Florida,40.2,36658,39808,76466,1678,31180,2.81,FL,NaN,3650.0,2937.0,47521.0,70266.0
2529,Pharr,Texas,26.9,35242,41293,76535,1376,25532,3.67,TX,NaN,NaN,204.0,72995.0,73694.0
2541,Hialeah,Florida,43.0,111530,125552,237082,1844,170148,3.31,FL,NaN,1149.0,5687.0,227508.0,219991.0
2543,Scranton,Pennsylvania,38.5,37975,39137,77112,5059,8069,2.39,PA,NaN,4722.0,6256.0,11301.0,66875.0
2564,Canton,Ohio,33.4,34476,37419,71895,3404,2204,2.32,OH,358.0,NaN,21353.0,3597.0,53571.0
2572,Muncie,Indiana,27.4,32446,37255,69701,2968,1062,2.35,IN,203.0,NaN,10482.0,2499.0,59962.0
2602,Woodbury,Minnesota,37.7,31982,35868,67850,2732,9477,2.72,MN,NaN,7758.0,6054.0,3258.0,56216.0
2623,League City,Texas,35.9,49354,48996,98350,6484,8361,2.72,TX,NaN,8163.0,4166.0,14868.0,86012.0
2631,Miami Beach,Florida,42.5,48090,44221,92311,2265,49908,2.10,FL,NaN,2772.0,4013.0,47446.0,72180.0
2648,South Jordan,Utah,33.8,33669,32970,66639,2595,6142,3.61,UT,NaN,2487.0,NaN,4672.0,59046.0
2668,League City,Texas,35.9,49354,48996,98350,6484,8361,2.72,TX,NaN,8163.0,4166.0,14868.0,86012.0
2690,Pine Hills,Florida,29.2,35344,40737,76081,2594,20735,3.30,FL,NaN,2209.0,57089.0,10496.0,10029.0
2713,Florence-Graham,California,30.2,34186,32173,66359,416,28696,4.57,CA,NaN,NaN,5060.0,60895.0,30591.0
2716,Warwick,Rhode Island,42.6,39289,42409,81698,5799,5318,2.40,RI,NaN,2685.0,1212.0,4723.0,76999.0
2730,Fishers,Indiana,34.5,42161,43910,86071,2469,6138,2.80,IN,NaN,7571.0,6873.0,3409.0,73361.0
2735,Mount Pleasant,South Carolina,42.7,39429,41880,81309,3981,4701,2.53,SC,NaN,1827.0,3730.0,2569.0,75908.0
2761,Franklin,Tennessee,38.3,34991,37644,72635,3303,6876,2.73,TN,NaN,3911.0,7749.0,4916.0,61459.0
2767,Vista,California,29.3,50680,50204,100884,4957,23271,3.52,CA,NaN,7189.0,5164.0,49524.0,83529.0
2772,Sugar Land,Texas,42.1,43889,44240,88129,4377,31169,2.95,TX,NaN,33469.0,8993.0,7835.0,44555.0
2780,Franklin,Tennessee,38.3,34991,37644,72635,3303,6876,2.73,TN,NaN,3911.0,7749.0,4916.0,61459.0
2785,Carmel,Indiana,39.9,42928,46101,89029,2723,9645,2.71,IN,NaN,11223.0,2171.0,3111.0,77178.0
2790,Franklin,Tennessee,38.3,34991,37644,72635,3303,6876,2.73,TN,NaN,3911.0,7749.0,4916.0,61459.0
2825,Passaic,New Jersey,30.4,36505,34577,71082,693,24174,3.56,NJ,NaN,3338.0,5230.0,53680.0,30352.0
2826,Mount Pleasant,South Carolina,42.7,39429,41880,81309,3981,4701,2.53,SC,NaN,1827.0,3730.0,2569.0,75908.0
2845,Scranton,Pennsylvania,38.5,37975,39137,77112,5059,8069,2.39,PA,NaN,4722.0,6256.0,11301.0,66875.0
2857,Carmel,Indiana,39.9,42928,46101,89029,2723,9645,2.71,IN,NaN,11223.0,2171.0,3111.0,77178.0
2865,Gulfport,Mississippi,35.1,33108,38764,71872,6646,3072,2.54,MS,NaN,1723.0,27799.0,4247.0,42870.0

In [29]:
# len(citiesNew) ## 2875

212 rows out of 2875 contain NaN which are related to "American Indian and Alaska Native". Thus, don't dropped.

In [30]:
# duplicates
len(citiesNew) == len(citiesNew.drop_duplicates())

False

In [31]:
#len(citiesNew.drop_duplicates()) ## 588

In [141]:
# drop duplicates
citiesNewNoDup = citiesNew.drop_duplicates()

In [33]:
# data information
citiesNewNoDup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 588 entries, 0 to 2711
Data columns (total 15 columns):
City                                 588 non-null object
State                                588 non-null object
Median Age                           588 non-null float64
Male Population                      588 non-null int64
Female Population                    588 non-null int64
Total Population                     588 non-null int64
Number of Veterans                   588 non-null int64
Foreign-born                         588 non-null int64
Average Household Size               588 non-null float64
State Code                           588 non-null object
American Indian and Alaska Native    537 non-null float64
Asian                                581 non-null float64
Black or African-American            583 non-null float64
Hispanic or Latino                   588 non-null float64
White                                588 non-null float64
dtypes: float64(7), int64(5), object(3)
memory usage: 73.5+ KB

In [62]:
# top 5
citiesNewNoDup.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,American Indian and Alaska Native,Asian,Black or African-American,Hispanic or Latino,White
0,Silver Spring,Maryland,33.8,40601,41862,82463,1562,30908,2.60,MD,1084.0,8841.0,21330.0,25924.0,37756.0
1,Quincy,Massachusetts,41.0,44129,49500,93629,4147,32935,2.39,MA,351.0,30473.0,3917.0,2566.0,58723.0
2,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,NaN,4759.0,18191.0,3430.0,61869.0
3,Rancho Cucamonga,California,34.5,88127,87105,175232,5821,33878,3.18,CA,2789.0,24519.0,24437.0,65823.0,111832.0
4,Newark,New Jersey,34.6,138040,143873,281913,5829,86253,2.73,NJ,2268.0,7349.0,144961.0,100432.0,76402.0

In [64]:
# save it as a csv and remove header and index and move it to aws s3 
citiesNewNoDup.to_csv("citiesUS.csv", sep=",", header=False, index=False, encoding="utf-8")
s3 = boto3.resource('s3')
s3.meta.client.upload_file('citiesUS.csv', 'udacity-capstone-project-bucket-test', 'citiesUS.csv')

##### immigration
1. to date "arrdate", "depdate", "dtadfile"
2. to text "cicid", "i94cit", "i94res", "admnum"
3. to integer "i94yr", "i94mon", "i94mode", "i94bir", "	i94visa", "count"

Most of the NaN values are existent in "visapost", "occup", "entdepu", "insnum" columns which are not necessary for data analysis.

In [145]:
# drop unnecessary columns
immigrationNew = immigration.drop("visapost", "occup", "entdepu", "insnum")

In [66]:
# immigrationNew.show(5)

In [10]:
# 13 rows out of 1000 contain "D/S" value for "dtaddto"
# needs to be dropped, then can change to date format
immigrationNew.filter(immigrationNew.dtaddto == "D/S").show(5)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+-------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|entdepa|entdepd|matflag|biryear|dtaddto|gender|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+-------+------+-------+--------------+-----+--------+
|5748903.0|2016.0|   4.0| 249.0| 111.0|    SFR|20574.0|    1.0|     CA|20625.0|  19.0|    3.0|  1.0|20160430|      G|      O|      M| 1997.0|    D/S|     F|     AF|9.499984463E10|00084|      F1|
|5748931.0|2016.0|   4.0| 249.0| 249.0|    DET|20574.0|    1.0|     MI|20627.0|  23.0|    3.0|  1.0|20160430|      G|      O|      M| 1993.0|    D/S|     M|     DL|9.500494123E10|00019|      F1|
|5748948.0|2016.0|   4.0| 249.0| 249.0|    BOS|20574.0|    1.0|     MA|   null|  26.0|    3.0|  1.0|20160430|      G|   null|   null| 1990.0|    D/S|     F|     LH|9.498655933E10|00422|      F1|
|5749154.0|2016.0|   4.0| 251.0| 251.0|    NEW|20574.0|    1.0|     CT|20591.0|  33.0|    3.0|  1.0|20160430|      G|      O|      M| 1983.0|    D/S|     M|     UA|9.500290173E10|00085|      F1|
|5749342.0|2016.0|   4.0| 251.0| 251.0|    NEW|20574.0|    1.0|     NJ|   null|  35.0|    3.0|  1.0|20160430|      G|   null|   null| 1981.0|    D/S|     M|     UA|9.492951603E10|00091|      F2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+-------+------+-------+--------------+-----+--------+
only showing top 5 rows

In [146]:
# drop "dtaddto" equal to "D/S" 
# then can change "dtaddto" to date format since it contain "NaN"
immigrationPlus = immigrationNew.filter(immigrationNew.dtaddto != "D/S")

In [12]:
# top 5
immigrationPlus.show(5)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|entdepa|entdepd|matflag|biryear| dtaddto|gender|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|      G|      O|      M| 1976.0|10292016|     F|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|      G|      O|      M| 1984.0|10292016|     F|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|      G|      O|      M| 1987.0|10292016|     M|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|      G|      O|      M| 1987.0|10292016|     F|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|      G|      O|      M| 1988.0|10292016|     M|     DL|9.495638813E10|00040|      B1|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+-------+-------+-------+-------+--------+------+-------+--------------+-----+--------+
only showing top 5 rows

In [70]:
# schema
immigrationPlus.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

Some data formats need to be changed.

In [147]:
# change to date
immigrationPlus = (immigrationPlus.withColumn("arrdate", expr("date_add('1960-01-01', arrdate)")).
                                    withColumn("depdate", expr("date_add('1960-01-01', depdate)")).
                                    withColumn("dtadfile", expr("to_date(dtadfile,'yyyyMMdd')")).
                                    withColumn("dtaddto", expr("to_date(dtaddto,'MMddyyyy')"))
                  )

In [14]:
# immigrationPlus.show(5)

In [148]:
# change to int
immigrationPlus = (immigrationPlus.withColumn("i94yr", col("i94yr").cast("float").cast("integer")).
                                     withColumn("i94mon", col("i94mon").cast("float").cast("integer")).
                                     withColumn("i94mode", col("i94mode").cast("float").cast("integer")).
                                     withColumn("i94bir", col("i94bir").cast("float").cast("integer")).
                                     withColumn("i94visa", col("i94visa").cast("float").cast("integer")).
                                     withColumn("count", col("count").cast("float").cast("integer")).
                                     withColumn("biryear", col("biryear").cast("float").cast("integer"))
                    )

In [149]:
# change to text
immigrationPlus = (immigrationPlus.withColumn("cicid", regexp_replace(col('cicid').cast("string"), '\.0', '')).
                    withColumn("i94cit", regexp_replace(col('i94cit').cast("string"), '\.0', '')).
                    withColumn("i94res", regexp_replace(col('i94res').cast("string"), '\.0', '')).
                    withColumn("admnum", col('admnum').cast("bigint").cast("string")))

In [89]:
# duplicates 
immigrationPlus.count() == immigrationPlus.drop_duplicates().count()

True

In [74]:
# data information
immigrationPlus.printSchema()

root
 |-- cicid: string (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: date (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: date (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: date (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: date (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [75]:
# top 5
immigrationPlus.show(5)

+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
|  cicid|i94yr|i94mon|i94cit|i94res|i94port|   arrdate|i94mode|i94addr|   depdate|i94bir|i94visa|count|  dtadfile|entdepa|entdepd|matflag|biryear|   dtaddto|gender|airline|     admnum|fltno|visatype|
+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
|5748517| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     CA|2016-05-08|    40|      1|    1|2016-04-30|      G|      O|      M|   1976|2016-10-29|     F|     QF|94953870030|00011|      B1|
|5748518| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     NV|2016-05-17|    32|      1|    1|2016-04-30|      G|      O|      M|   1984|2016-10-29|     F|     VA|94955622830|00007|      B1|
|5748519| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-08|    29|      1|    1|2016-04-30|      G|      O|      M|   1987|2016-10-29|     M|     DL|94956406530|00040|      B1|
|5748520| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-14|    29|      1|    1|2016-04-30|      G|      O|      M|   1987|2016-10-29|     F|     DL|94956451430|00040|      B1|
|5748521| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-14|    28|      1|    1|2016-04-30|      G|      O|      M|   1988|2016-10-29|     M|     DL|94956388130|00040|      B1|
+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
only showing top 5 rows

In [55]:
# immigrationPlus.select("i94yr").distinct().show() ## all the data are in 2016

In [76]:
# "i94addr" contain 458 distinct values
immigrationPlus.select("i94addr").distinct().count()

458

In [34]:
# there are only 48 "state codes" in cities
len(sorted(citiesNewNoDup["State Code"].drop_duplicates()))

48

In [150]:
# only select these records with "i94addr" in the cities
usStates = sorted(citiesNewNoDup["State Code"].drop_duplicates())

In [151]:
# filter the "i94addr" in cities "State Code" 
immigrationPlusNew = immigrationPlus.filter(immigrationPlus.i94addr.isin(usStates))

In [80]:
# "i94addr" distinct values
immigrationPlusNew.select("i94addr").distinct().count()

48

In [81]:
# check
immigrationPlusNew.select("i94addr").distinct().show(50)

+-------+
|i94addr|
+-------+
|     SC|
|     AZ|
|     LA|
|     MN|
|     NJ|
|     DC|
|     OR|
|     VA|
|     RI|
|     KY|
|     NH|
|     MI|
|     NV|
|     WI|
|     ID|
|     CA|
|     CT|
|     NE|
|     MT|
|     NC|
|     MD|
|     DE|
|     MO|
|     IL|
|     ME|
|     WA|
|     ND|
|     MS|
|     AL|
|     IN|
|     OH|
|     TN|
|     NM|
|     IA|
|     PA|
|     SD|
|     NY|
|     TX|
|     GA|
|     MA|
|     KS|
|     FL|
|     CO|
|     AK|
|     AR|
|     OK|
|     UT|
|     HI|
+-------+

In [58]:
# immigrationPlusNew.count()

In [57]:
## save the data to a parquet file in s3
(immigrationPlusNew.write
    .mode("overwrite")
    .parquet("s3a://udacity-capstone-project-bucket-test/immigration.parquet"))

##### temperature
1. Only include 2003 onwards of temperature for data usage
2. Only include US

In [78]:
# year range
# print(min(temperature.dt), max(temperature.dt)) ## 1743-11-01, 2013-09-01

In [85]:
# temperature in 2003 and onwards and in US
temperatureUS10Yr = temperature[(temperature.Country == "United States") 
            & (temperature.dt >= "2003-01-01")].drop("Country", axis=1)

In [86]:
# Uncertainty
#print(min(temperatureUS10Yr.AverageTemperatureUncertainty), max(temperatureUS10Yr.AverageTemperatureUncertainty))
## 0.049 1.3219999999999998

In [87]:
# NaN rows
temperatureUS10Yr[temperatureUS10Yr.isnull().any(axis=1)]

                dt AverageTemperature AverageTemperatureUncertainty   State
15106   2013-09-01                NaN                           NaN  Alaska
154725  2013-09-01                NaN                           NaN  Hawaii

In [88]:
# len(temperatureUS10Yr) ##6579

2 out of 6579 contains NaN. Thus. drop.

In [89]:
# drop NaN
temperatureUS10YrNoNa = temperatureUS10Yr.dropna()

In [90]:
# change to date
temperatureUS10YrNoNa["dt"] = pd.to_datetime(temperatureUS10YrNoNa["dt"], format="%Y-%m-%d")

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [91]:
# to float and round to 1
temperatureUS10YrNoNa[["AverageTemperature", "AverageTemperatureUncertainty"]] = temperatureUS10YrNoNa[["AverageTemperature", "AverageTemperatureUncertainty"]].astype(float).round(1)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [92]:
# duplicates
len(temperatureUS10YrNoNa) == len(temperatureUS10YrNoNa.drop_duplicates())

True

In [93]:
# data information
temperatureUS10YrNoNa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6577 entries, 10568 to 626439
Data columns (total 4 columns):
dt                               6577 non-null datetime64[ns]
AverageTemperature               6577 non-null float64
AverageTemperatureUncertainty    6577 non-null float64
State                            6577 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 256.9+ KB

In [88]:
# top 5
temperatureUS10YrNoNa.head()

              dt  AverageTemperature  AverageTemperatureUncertainty    State
10568 2003-01-01                 4.8                            0.1  Alabama
10569 2003-02-01                 9.1                            0.2  Alabama
10570 2003-03-01                14.6                            0.2  Alabama
10571 2003-04-01                17.8                            0.2  Alabama
10572 2003-05-01                22.6                            0.2  Alabama

In [94]:
# save it as a csv and remove header and index and move it to aws s3 
temperatureUS10YrNoNa.to_csv("temperatureUS.csv", sep=",", header=False, index=False, encoding="utf-8")
s3 = boto3.resource('s3')
s3.meta.client.upload_file('temperatureUS.csv', 'udacity-capstone-project-bucket-test', 'temperatureUS.csv')

<a id="model"></a>

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
* STAR Schema
* dimension tables
    * dim_airports ("State" PK; "num_airports")
    * dim_temperature ("State", PK; "min_tm"; "max_tm")
    * dim_population ("State", PK; age, gender, race population, household, etc)
* fact tables
    * fact_tourists ("cicid", PK; "State", FK)  <br>

#### 3.2 Mapping Out Data Pipelines

<!-- ![title](airport_data_dictionary.png) -->

##### Relationship between tables

"State Code" in "cities", "region" in "airports", and "i94addr" in "immigration" are all related to US state codes, which can be a key to join all the three tables. And "State" in "temperature" and "State" in "cities" are all related to US state names, which can be a key to join the two tables, then adding "State Code" to "temperature".   
Use "State Code" to link all the tables together to create relevant dimension and fact tables.

##### State Codes

In [152]:
# airport region
np.array(sorted(airportUSNewNoNa.region.unique()))

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'U-A', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'],
      dtype='<U3')

In [153]:
# city state
np.array(sorted(citiesNewNoDup["State Code"].unique()))

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'WA', 'WI'],
      dtype='<U2')

In [154]:
# compare state codes in cities and airports
set(np.array(sorted(citiesNewNoDup["State Code"].unique()))).difference(set(np.array(sorted(airportUSNewNoNa.region.unique()))))

set()

In [155]:
# compare state codes in cities and airports
set(np.array(sorted(airportUSNewNoNa.region.unique()))).difference(set(np.array(sorted(citiesNewNoDup["State Code"].unique()))))

{'U-A', 'VT', 'WV', 'WY'}

1. All the state codes in "cities" are in "airport".  
2. {'U-A', 'VT', 'WV', 'WY'} are in "airport" but not in "cities".

In [159]:
# immigration i94addr
immigrationStates = immigrationPlusNew.select("i94addr").distinct().toPandas()

In [160]:
# top 5
immigrationStates.head()

  i94addr
0      SC
1      AZ
2      LA
3      MN
4      NJ

In [161]:
# compare state codes in cities and immigration
set(np.array(sorted(citiesNewNoDup["State Code"].unique()))).difference(set(np.array(sorted(immigrationStates["i94addr"].astype("str").unique()))))

set()

In [162]:
# compare state codes in cities and immigration
set(np.array(sorted(immigrationStates["i94addr"].astype("str").unique()))).difference(set(np.array(sorted(citiesNewNoDup["State Code"].unique()))))

set()

1. All the state codes in the "cities" are in "immigration".

##### State Names

In [96]:
# state names in "cities" 
np.array(sorted(citiesNewNoDup.State.unique()))

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Washington', 'Wisconsin'],
      dtype='<U20')

In [97]:
# state names in "temperature" 
np.array(sorted(temperatureUS10YrNoNa.State.unique()))

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia',
       'Florida', 'Georgia (State)', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype='<U20')

In [98]:
# compare state names in "cities" and "temperature"
set(np.array(sorted(citiesNewNoDup.State.unique()))).difference(set(np.array(sorted(temperatureUS10YrNoNa.State.unique()))))

{'District of Columbia', 'Georgia'}

In [99]:
# compare state names in "cities" and "temperature"
set(np.array(sorted(temperatureUS10YrNoNa.State.unique()))).difference(set(np.array(sorted(citiesNewNoDup.State.unique()))))

{'District Of Columbia',
 'Georgia (State)',
 'Vermont',
 'West Virginia',
 'Wyoming'}

1. Change "District Of Columbia" to "District of Columbia" and "Georgia (State)" to "Georgia".
2. {'Vermont', 'West Virginia','Wyoming'} are in "temperature" not in "cities".

##### Staging tables

**Redshift Data Warehouse**

##### airport

In [40]:
# redshift connection
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
#print(conn_string)
%sql $conn_string

'Connected: udacity-data-pipelines@dev'

In [91]:
%%sql
DROP TABLE IF EXISTS airports;
CREATE TABLE IF NOT EXISTS airports
               (airport_id INT IDENTITY(0, 1) PRIMARY KEY,
               ident VARCHAR NOT NULL, 
               type VARCHAR NOT NULL, 
               name VARCHAR NOT NULL,
               elevation_ft FLOAT4 NOT NULL, 
               region VARCHAR NOT NULL,
               longitude FLOAT8 NOT NULL,
               latitude FLOAT8 NOT NULL);

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [92]:
query = """COPY airports (ident, type, name, elevation_ft, region, longitude, latitude)
FROM 's3://udacity-capstone-project-bucket-test/airportUS.csv'
credentials 'aws_access_key_id={};aws_secret_access_key={}' CSV;""".format(KEY, SECRET)
%sql $query

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [93]:
%%sql
SELECT * FROM airports LIMIT 5;

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(2, '00AK', 'small_airport', 'Lowell Field', 450.0, 'AK', -151.696, 59.9492),
 (4, '00AL', 'small_airport', 'Epps Airpark', 820.0, 'AL', -86.7703, 34.8648),
 (10, '00CA', 'small_airport', 'Goldstone /Gts/ Airport', 3038.0, 'CA', -116.888, 35.3505),
 (16, '00FL', 'small_airport', 'River Oak Airport', 35.0, 'FL', -80.9692, 27.2309),
 (18, '00GA', 'small_airport', 'Lt World Airport', 700.0, 'GA', -84.0683, 33.7675)]

##### Cities

In [94]:
%%sql
DROP TABLE IF EXISTS cities;
CREATE TABLE IF NOT EXISTS cities 
               (city_id INT IDENTITY(0, 1) PRIMARY KEY,
               City VARCHAR NOT NULL, 
               State VARCHAR NOT NULL, 
               "Median Age" FLOAT4 NOT NULL,
               "Male Population" INT NOT NULL, 
               "Female Population" INT NOT NULL,
               "Total Population" INT NOT NULL,
               "Number of Veterans" INT NOT NULL,
               "Foreign-born" INT NOT NULL,
               "Average Household Size" FLOAT4 NOT NULL,
               "State Code" VARCHAR NOT NULL,
               "American Indian and Alaska Native" FLOAT4,
               "Asian" FLOAT4,
               "Black or African-American" FLOAT4,
               "Hispanic or Latino" FLOAT4 NOT NULL,
               "White" FLOAT4 NOT NULL);

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [95]:
query = """COPY cities 
FROM 's3://udacity-capstone-project-bucket-test/citiesUS.csv'
credentials 'aws_access_key_id={};aws_secret_access_key={}'
CSV;""".format(KEY, SECRET)
%sql $query

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [49]:
# %%sql
# SELECT * FROM stl_load_errors;

In [96]:
%%sql
SELECT * FROM cities LIMIT 5;

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, 'Silver Spring', 'Maryland', 33.8, 40601, 41862, 82463, 1562, 30908, 2.6, 'MD', 1084.0, 8841.0, 21330.0, 25924.0, 37756.0),
 (3, 'Quincy', 'Massachusetts', 41.0, 44129, 49500, 93629, 4147, 32935, 2.39, 'MA', 351.0, 30473.0, 3917.0, 2566.0, 58723.0),
 (5, 'Hoover', 'Alabama', 38.5, 38040, 46799, 84839, 4819, 8229, 2.58, 'AL', None, 4759.0, 18191.0, 3430.0, 61869.0),
 (7, 'Rancho Cucamonga', 'California', 34.5, 88127, 87105, 175232, 5821, 33878, 3.18, 'CA', 2789.0, 24519.0, 24437.0, 65823.0, 111832.0),
 (9, 'Newark', 'New Jersey', 34.6, 138040, 143873, 281913, 5829, 86253, 2.73, 'NJ', 2268.0, 7349.0, 144961.0, 100432.0, 76402.0)]

##### Immigration

In [59]:
immigrationPlusNew.show(5)

+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
|  cicid|i94yr|i94mon|i94cit|i94res|i94port|   arrdate|i94mode|i94addr|   depdate|i94bir|i94visa|count|  dtadfile|entdepa|entdepd|matflag|biryear|   dtaddto|gender|airline|     admnum|fltno|visatype|
+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
|5748517| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     CA|2016-05-08|    40|      1|    1|2016-04-30|      G|      O|      M|   1976|2016-10-29|     F|     QF|94953870030|00011|      B1|
|5748518| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     NV|2016-05-17|    32|      1|    1|2016-04-30|      G|      O|      M|   1984|2016-10-29|     F|     VA|94955622830|00007|      B1|
|5748519| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-08|    29|      1|    1|2016-04-30|      G|      O|      M|   1987|2016-10-29|     M|     DL|94956406530|00040|      B1|
|5748520| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-14|    29|      1|    1|2016-04-30|      G|      O|      M|   1987|2016-10-29|     F|     DL|94956451430|00040|      B1|
|5748521| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-14|    28|      1|    1|2016-04-30|      G|      O|      M|   1988|2016-10-29|     M|     DL|94956388130|00040|      B1|
+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
only showing top 5 rows

In [97]:
%%sql
DROP TABLE IF EXISTS immigration;
CREATE TABLE IF NOT EXISTS immigration
               (cicid VARCHAR PRIMARY KEY NOT NULL,
               i94yr INT NOT NULL, 
               i94mon INT NOT NULL, 
               i94cit VARCHAR NOT NULL,
               i94res VARCHAR NOT NULL,
               i94port VARCHAR NOT NULL,
               arrdate DATE NOT NULL,
               i94mode INT NOT NULL,
               i94addr VARCHAR,
               depdate DATE,
               i94bir INT,
               i94visa INT NOT NULL,
               count INT NOT NULL,
               dtadfile DATE NOT NULL,
               entdepa VARCHAR NOT NULL,
               entdepd VARCHAR,
               matflag VARCHAR,
               biryear INT,
               dtaddto DATE,
               gender VARCHAR,
               airline VARCHAR,
               admnum VARCHAR NOT NULL,
               fltno VARCHAR,
               visatype VARCHAR NOT NULL);

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [61]:
# # read the data 
# immigration=spark.read.parquet("s3a://udacity-capstone-project-bucket-test/immigration.parquet/*.parquet")

In [62]:
# # count
# immigration.count()

2768864

In [63]:
# # top 5
# immigration.show(5)

+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
|  cicid|i94yr|i94mon|i94cit|i94res|i94port|   arrdate|i94mode|i94addr|   depdate|i94bir|i94visa|count|  dtadfile|entdepa|entdepd|matflag|biryear|   dtaddto|gender|airline|     admnum|fltno|visatype|
+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
|5748517| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     CA|2016-05-08|    40|      1|    1|2016-04-30|      G|      O|      M|   1976|2016-10-29|     F|     QF|94953870030|00011|      B1|
|5748518| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     NV|2016-05-17|    32|      1|    1|2016-04-30|      G|      O|      M|   1984|2016-10-29|     F|     VA|94955622830|00007|      B1|
|5748519| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-08|    29|      1|    1|2016-04-30|      G|      O|      M|   1987|2016-10-29|     M|     DL|94956406530|00040|      B1|
|5748520| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-14|    29|      1|    1|2016-04-30|      G|      O|      M|   1987|2016-10-29|     F|     DL|94956451430|00040|      B1|
|5748521| 2016|     4|   245|   438|    LOS|2016-04-30|      1|     WA|2016-05-14|    28|      1|    1|2016-04-30|      G|      O|      M|   1988|2016-10-29|     M|     DL|94956388130|00040|      B1|
+-------+-----+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+----------+-------+-------+-------+-------+----------+------+-------+-----------+-----+--------+
only showing top 5 rows

In [64]:
# data schema
immigration.printSchema()

root
 |-- cicid: string (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: date (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: date (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: date (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: date (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [98]:
query = """COPY immigration
FROM 's3://udacity-capstone-project-bucket-test/immigration.parquet/'
credentials 'aws_access_key_id={};aws_secret_access_key={}'
PARQUET;""".format(KEY, SECRET)
%sql $query

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [99]:
%%sql
SELECT * FROM immigration LIMIT 5;

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('5748518', 2016, 4, '245', '438', 'LOS', datetime.date(2016, 4, 30), 1, 'NV', datetime.date(2016, 5, 17), 32, 1, 1, datetime.date(2016, 4, 30), 'G', 'O', 'M', 1984, datetime.date(2016, 10, 29), 'F', 'VA', '94955622830', '00007', 'B1'),
 ('5748519', 2016, 4, '245', '438', 'LOS', datetime.date(2016, 4, 30), 1, 'WA', datetime.date(2016, 5, 8), 29, 1, 1, datetime.date(2016, 4, 30), 'G', 'O', 'M', 1987, datetime.date(2016, 10, 29), 'M', 'DL', '94956406530', '00040', 'B1'),
 ('5748520', 2016, 4, '245', '438', 'LOS', datetime.date(2016, 4, 30), 1, 'WA', datetime.date(2016, 5, 14), 29, 1, 1, datetime.date(2016, 4, 30), 'G', 'O', 'M', 1987, datetime.date(2016, 10, 29), 'F', 'DL', '94956451430', '00040', 'B1'),
 ('5748521', 2016, 4, '245', '438', 'LOS', datetime.date(2016, 4, 30), 1, 'WA', datetime.date(2016, 5, 14), 28, 1, 1, datetime.date(2016, 4, 30), 'G', 'O', 'M', 1988, datetime.date(2016, 10, 29), 'M', 'DL', '94956388130', '00040', 'B1'),
 ('5748522', 2016, 4, '245', '464', 'HHW', datetime.date(2016, 4, 30), 1, 'HI', datetime.date(2016, 5, 5), 57, 2, 1, datetime.date(2016, 4, 30), 'G', 'O', 'M', 1959, datetime.date(2016, 10, 29), 'M', 'NZ', '94981802830', '00010', 'B2')]

##### Temperature

In [100]:
%%sql
DROP TABLE IF EXISTS temperature;
CREATE TABLE IF NOT EXISTS temperature
               (temp_id INT IDENTITY(0, 1) PRIMARY KEY,
               dt DATE NOT NULL,
               AverageTemperature FLOAT4 NOT NULL,
               AverageTemperatureUncertainty FLOAT4 NOT NULL,
               State VARCHAR NOT NULL
               );

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [101]:
query = """COPY temperature 
FROM 's3://udacity-capstone-project-bucket-test/temperatureUS.csv'
credentials 'aws_access_key_id={};aws_secret_access_key={}'
CSV;""".format(KEY, SECRET)
%sql $query

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [89]:
# %%sql
# SELECT * FROM stl_load_errors;

In [102]:
%%sql
SELECT * FROM temperature LIMIT 5;

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(0, datetime.date(2003, 1, 1), 4.8, 0.1, 'Alabama'),
 (2, datetime.date(2003, 2, 1), 9.1, 0.2, 'Alabama'),
 (4, datetime.date(2003, 3, 1), 14.6, 0.2, 'Alabama'),
 (6, datetime.date(2003, 4, 1), 17.8, 0.2, 'Alabama'),
 (8, datetime.date(2003, 5, 1), 22.6, 0.2, 'Alabama')]

##### Normalization

dim_airports

In [106]:
%%sql
DROP TABLE IF EXISTS dim_airports;
CREATE TABLE dim_airports AS
    SELECT DISTINCT tb.region,  totalAirport FROM
        (SELECT region, COUNT(ident) AS totalAirport
        FROM airports
        GROUP BY 1) tb
        WHERE region IN (SELECT DISTINCT "State Code" FROM cities)
        AND region IN (SELECT DISTINCT i94addr FROM immigration);

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [107]:
%%sql
SELECT * FROM dim_airports LIMIT 5

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('FL', 523), ('MO', 411), ('NY', 400), ('OR', 357), ('SD', 162)]

dim_cities

In [109]:
%%sql
DROP TABLE IF EXISTS dim_cities;
CREATE TABLE dim_cities AS
    SELECT DISTINCT tb.* FROM
        (SELECT "State Code", 
        ROUND(AVG("Median Age"), 1) AS "Median Age",
        SUM("Male Population") AS "Male Population",
        SUM("Female Population") AS "Female Population",
        SUM("Total Population") AS "Total Population",
        SUM("Number of Veterans") AS "Number of Veterans",
        SUM("Foreign-born") AS "Foreign-born",
        ROUND(AVG("Average Household Size"), 1) AS "Average Household Size",
        ROUND(SUM("American Indian and Alaska Native"), 1) AS "American Indian and Alaska Native",
        ROUND(SUM([Asian]), 1) AS [Asian],
        ROUND(SUM("Black or African-American"), 1) AS "Black or African-American",
        ROUND(SUM("Hispanic or Latino"), 1) AS "Hispanic or Latino",
        ROUND(SUM([White]), 1) AS [White] FROM cities
        GROUP BY "State Code") tb
        WHERE "State Code" IN (SELECT DISTINCT region FROM airports)
        AND "State Code" IN (SELECT DISTINCT i94addr FROM immigration);

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [110]:
%%sql
SELECT * FROM dim_cities LIMIT 5

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('FL', 39.0, 3236773, 3487375, 6724148, 372997, 1684897, 2.8, 43541.0, 241587.5, 1517568.5, 1906897.5, 4439764.5),
 ('SC', 34.2, 260944, 272713, 533657, 33463, 27744, 2.5, 3492.0, 19852.3, 152653.3, 29162.7, 346412.7),
 ('WA', 35.3, 1245605, 1254502, 2500107, 153126, 440962, 2.6, 60248.0, 346995.0, 187584.0, 324070.0, 1913484.0),
 ('ID', 34.8, 199103, 199780, 398883, 26380, 28126, 2.7, 6705.0, 13985.0, 7822.0, 48142.0, 370314.0),
 ('MT', 35.5, 87707, 93587, 181294, 13854, 5977, 2.3, 9684.0, 4165.0, 3349.0, 10000.0, 169026.0)]

dim_temperature

There is no funcion like PIVOT in Sqlite. Thus. use the following SQL query to achieve the function.

In [111]:
%%sql
DROP TABLE IF EXISTS dim_temperature;
CREATE TABLE dim_temperature AS
    WITH season AS (
    SELECT 
        CASE 
        WHEN EXTRACT(MONTH FROM dt) IN (03, 04, 05) THEN 'Spring'
        WHEN EXTRACT(MONTH FROM dt) IN (06, 07, 08) THEN 'Summer'
        WHEN EXTRACT(MONTH FROM dt) IN (09, 10, 11) THEN 'Fall'
        WHEN EXTRACT(MONTH FROM dt) IN (12, 01, 02) THEN 'Winter'
        END Season, 
        CASE 
        WHEN State = 'Georgia (State)' THEN 'Georgia'
        WHEN State = 'District Of Columbia' THEN 'District of Columbia'
        ELSE State
        END AS State
        , 
        ROUND(AVG(AverageTemperature), 1) AS AverageTemperature 
        FROM temperature
        GROUP BY 1, 2
    )
    SELECT DISTINCT cities."State Code", FallAvgTemp, SummerAvgTemp, SpringAvgTemp, WinterAvgTemp FROM
        (SELECT State, 
        CASE WHEN Season = 'Fall' THEN AverageTemperature END AS FallAvgTemp FROM season) fall 
        JOIN (
        SELECT State, 
        CASE WHEN Season = 'Summer' THEN AverageTemperature END AS SummerAvgTemp FROM season 
        ) summer
        ON fall.State = Summer.State
        JOIN (
        SELECT State, 
        CASE WHEN Season = 'Spring' THEN AverageTemperature END AS SpringAvgTemp FROM season     
        ) spring
        ON fall.State = spring.State
        JOIN (
        SELECT State, 
        CASE WHEN Season = 'Winter' THEN AverageTemperature END AS WinterAvgTemp FROM season        
        ) winter
        ON fall.State = winter.State
        JOIN cities 
        ON fall.State = cities.State
        WHERE cities."State Code" IN (SELECT DISTINCT region FROM airports)
        AND cities."State Code" IN (SELECT DISTINCT i94addr FROM immigration)
        AND FallAvgTemp IS NOT NULL AND SummerAvgTemp IS NOT NULL AND SpringAvgTemp IS NOT NULL AND WinterAvgTemp IS NOT NULL
;

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [112]:
%%sql
SELECT * FROM dim_temperature LIMIT 5

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('PA', 11.8, 21.5, 9.7, -1.7),
 ('AR', 17.3, 26.8, 16.6, 5.6),
 ('RI', 12.6, 21.1, 8.6, -0.7),
 ('DC', 14.2, 24.2, 12.4, 1.4),
 ('LA', 20.8, 28.1, 20.0, 10.9)]

fact_immigration

In [113]:
%%sql
DROP TABLE IF EXISTS fact_immigration;
CREATE TABLE fact_immigration AS
                SELECT * FROM 
                immigration  
                WHERE i94addr IN
                (SELECT DISTINCT "State Code" FROM cities)
                AND i94addr IN (SELECT DISTINCT region FROM airports);

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [114]:
%%sql
SELECT * FROM fact_immigration LIMIT 5

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('5901585', 2016, 4, '111', '111', 'CHM', datetime.date(2016, 4, 1), 1, 'NY', None, 21, 2, 1, datetime.date(2016, 5, 2), 'A', None, None, 1995, datetime.date(2016, 6, 30), 'F', 'AC', '42339986533', None, 'WT'),
 ('5901589', 2016, 4, '111', '111', 'CHM', datetime.date(2016, 4, 1), 9, 'NJ', None, 37, 2, 1, datetime.date(2016, 5, 2), 'A', None, None, 1979, datetime.date(2016, 6, 29), 'M', None, '42309454033', None, 'WT'),
 ('5902170', 2016, 4, '112', '112', 'BLA', datetime.date(2016, 4, 1), 9, 'OR', None, None, 2, 1, datetime.date(2016, 5, 2), 'A', None, None, None, datetime.date(2016, 6, 29), 'M', None, '86558290728', None, 'WT'),
 ('5909168', 2016, 4, '373', '373', 'WPB', datetime.date(2016, 4, 1), 9, 'FL', datetime.date(2016, 4, 4), 33, 1, 1, datetime.date(2016, 5, 5), 'A', 'D', 'M', 1983, datetime.date(2016, 9, 30), 'X', None, '49468112027', None, 'B1'),
 ('5910502', 2016, 4, '464', '438', 'PEV', datetime.date(2016, 4, 1), 1, 'FL', None, 33, 1, 1, datetime.date(2016, 5, 6), 'A', 'W', 'M', 1983, datetime.date(2016, 10, 1), 'M', 'MM', '12797272727', '04242', 'B1')]

<a id='check'></a>

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

##### Check the relationship among the normalized tables

In [115]:
%%sql
SELECT DISTINCT i94addr, dc."State Code", da.region, dt."State Code" FROM fact_immigration f
LEFT JOIN dim_cities dc
ON f.i94addr = dc."State Code"
LEFT JOIN dim_airports da
ON f.i94addr = da.region
LEFT JOIN dim_temperature dt
ON f.i94addr = dt."State Code"
ORDER BY 1

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
48 rows affected.

[('AK', 'AK', 'AK', 'AK'),
 ('AL', 'AL', 'AL', 'AL'),
 ('AR', 'AR', 'AR', 'AR'),
 ('AZ', 'AZ', 'AZ', 'AZ'),
 ('CA', 'CA', 'CA', 'CA'),
 ('CO', 'CO', 'CO', 'CO'),
 ('CT', 'CT', 'CT', 'CT'),
 ('DC', 'DC', 'DC', 'DC'),
 ('DE', 'DE', 'DE', 'DE'),
 ('FL', 'FL', 'FL', 'FL'),
 ('GA', 'GA', 'GA', 'GA'),
 ('HI', 'HI', 'HI', 'HI'),
 ('IA', 'IA', 'IA', 'IA'),
 ('ID', 'ID', 'ID', 'ID'),
 ('IL', 'IL', 'IL', 'IL'),
 ('IN', 'IN', 'IN', 'IN'),
 ('KS', 'KS', 'KS', 'KS'),
 ('KY', 'KY', 'KY', 'KY'),
 ('LA', 'LA', 'LA', 'LA'),
 ('MA', 'MA', 'MA', 'MA'),
 ('MD', 'MD', 'MD', 'MD'),
 ('ME', 'ME', 'ME', 'ME'),
 ('MI', 'MI', 'MI', 'MI'),
 ('MN', 'MN', 'MN', 'MN'),
 ('MO', 'MO', 'MO', 'MO'),
 ('MS', 'MS', 'MS', 'MS'),
 ('MT', 'MT', 'MT', 'MT'),
 ('NC', 'NC', 'NC', 'NC'),
 ('ND', 'ND', 'ND', 'ND'),
 ('NE', 'NE', 'NE', 'NE'),
 ('NH', 'NH', 'NH', 'NH'),
 ('NJ', 'NJ', 'NJ', 'NJ'),
 ('NM', 'NM', 'NM', 'NM'),
 ('NV', 'NV', 'NV', 'NV'),
 ('NY', 'NY', 'NY', 'NY'),
 ('OH', 'OH', 'OH', 'OH'),
 ('OK', 'OK', 'OK', 'OK'),
 ('OR', 'OR', 'OR', 'OR'),
 ('PA', 'PA', 'PA', 'PA'),
 ('RI', 'RI', 'RI', 'RI'),
 ('SC', 'SC', 'SC', 'SC'),
 ('SD', 'SD', 'SD', 'SD'),
 ('TN', 'TN', 'TN', 'TN'),
 ('TX', 'TX', 'TX', 'TX'),
 ('UT', 'UT', 'UT', 'UT'),
 ('VA', 'VA', 'VA', 'VA'),
 ('WA', 'WA', 'WA', 'WA'),
 ('WI', 'WI', 'WI', 'WI')]

In [116]:
%%sql
SELECT COUNT(*), MIN("State Code"), MAX("State Code") FROM dim_cities

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(48, 'AK', 'WI')]

In [117]:
%%sql
SELECT COUNT(*), MIN("State Code"), MAX("State Code") FROM dim_temperature

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(48, 'AK', 'WI')]

In [118]:
%%sql
SELECT COUNT(DISTINCT region), MIN(region), MAX(region) FROM dim_airports

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(48, 'AK', 'WI')]

In [120]:
%%sql
SELECT COUNT(DISTINCT i94addr), MIN(i94addr), MAX(i94addr) FROM fact_immigration

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(48, 'AK', 'WI')]

All the state codes in the dimension tables and fact table can be matched.

##### Check the normalized tables with the original tables

**cities**

In [122]:
%%sql
SELECT * FROM dim_cities
WHERE "State Code" = 'AL'

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('AL', 36.2, 497248, 552381, 1049629, 71543, 52154, 2.4, 8084.0, 28769.0, 521068.0, 39313.0, 498920.0)]

In [123]:
# original cities
cities[cities["State Code"] == "AL"]

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
2,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,Asian,4759
67,Montgomery,Alabama,35.4,94582,106004,200586,14955,9337,2.41,AL,White,73545
68,Huntsville,Alabama,38.1,91764,97350,189114,16637,12691,2.18,AL,American Indian and Alaska Native,1755
101,Huntsville,Alabama,38.1,91764,97350,189114,16637,12691,2.18,AL,Hispanic or Latino,10887
212,Birmingham,Alabama,35.6,102122,112789,214911,13212,8258,2.21,AL,Asian,1500
375,Huntsville,Alabama,38.1,91764,97350,189114,16637,12691,2.18,AL,Black or African-American,61561
479,Dothan,Alabama,38.9,32172,35364,67536,6334,1699,2.59,AL,Asian,1175
500,Dothan,Alabama,38.9,32172,35364,67536,6334,1699,2.59,AL,Hispanic or Latino,1704
552,Montgomery,Alabama,35.4,94582,106004,200586,14955,9337,2.41,AL,American Indian and Alaska Native,1277
598,Tuscaloosa,Alabama,29.1,47293,51045,98338,3647,4706,2.67,AL,Asian,2733
805,Tuscaloosa,Alabama,29.1,47293,51045,98338,3647,4706,2.67,AL,Hispanic or Latino,2475
893,Montgomery,Alabama,35.4,94582,106004,200586,14955,9337,2.41,AL,Hispanic or Latino,6648
960,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,Black or African-American,18191
1063,Birmingham,Alabama,35.6,102122,112789,214911,13212,8258,2.21,AL,American Indian and Alaska Native,1319
1064,Dothan,Alabama,38.9,32172,35364,67536,6334,1699,2.59,AL,Black or African-American,23243
1245,Huntsville,Alabama,38.1,91764,97350,189114,16637,12691,2.18,AL,Asian,6566
1291,Montgomery,Alabama,35.4,94582,106004,200586,14955,9337,2.41,AL,Black or African-American,121360
1410,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,Hispanic or Latino,3430
1416,Tuscaloosa,Alabama,29.1,47293,51045,98338,3647,4706,2.67,AL,American Indian and Alaska Native,261
1497,Huntsville,Alabama,38.1,91764,97350,189114,16637,12691,2.18,AL,White,121904
1541,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,White,61869
1580,Dothan,Alabama,38.9,32172,35364,67536,6334,1699,2.59,AL,White,43516
1777,Tuscaloosa,Alabama,29.1,47293,51045,98338,3647,4706,2.67,AL,Black or African-American,42331
1925,Dothan,Alabama,38.9,32172,35364,67536,6334,1699,2.59,AL,American Indian and Alaska Native,656
2025,Birmingham,Alabama,35.6,102122,112789,214911,13212,8258,2.21,AL,White,51728
2063,Mobile,Alabama,38.0,91275,103030,194305,11939,7234,2.4,AL,Asian,5518
2064,Mobile,Alabama,38.0,91275,103030,194305,11939,7234,2.4,AL,American Indian and Alaska Native,2816
2220,Montgomery,Alabama,35.4,94582,106004,200586,14955,9337,2.41,AL,Asian,6518
2231,Birmingham,Alabama,35.6,102122,112789,214911,13212,8258,2.21,AL,Black or African-American,157985
2320,Mobile,Alabama,38.0,91275,103030,194305,11939,7234,2.4,AL,White,93755
2370,Tuscaloosa,Alabama,29.1,47293,51045,98338,3647,4706,2.67,AL,White,52603
2507,Mobile,Alabama,38.0,91275,103030,194305,11939,7234,2.4,AL,Hispanic or Latino,5229
2508,Mobile,Alabama,38.0,91275,103030,194305,11939,7234,2.4,AL,Black or African-American,96397
2627,Birmingham,Alabama,35.6,102122,112789,214911,13212,8258,2.21,AL,Hispanic or Latino,8940

The information listed in the "dim_cities" is the same as the information listed in the original "cities".

**airports**

In [124]:
%%sql
SELECT * FROM dim_airports 
WHERE region = 'AL'

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('AL', 197)]

In [163]:
# original airport
(airport[(airport.iso_region == 'US-AL') &
        ~(airport.type == "closed") & 
        airport.type.str.contains("airport") & 
        ~airport.elevation_ft.isna()].
        drop(["continent","iata_code", "gps_code", "local_code", "municipality"], axis=1).drop_duplicates())

,ident,type,name,elevation_ft,iso_country,iso_region,coordinates
3,00AL,small_airport,Epps Airpark,820,US,US-AL,"-86.77030181884766, 34.86479949951172"
65,01AL,small_airport,Ware Island Airport,344,US,US-AL,"-86.51390075683594, 32.94599914550781"
129,02AL,small_airport,Bass Field,61,US,US-AL,"-87.76439666748047, 30.37150001525879"
605,0AL1,small_airport,Resort Airport,97,US,US-AL,"-87.65689849853516, 30.443899154663086"
609,0AL5,small_airport,Flomaton Airport,247,US,US-AL,"-87.25279998779297, 31.03219985961914"
613,0AL9,small_airport,Wilson Creek Airport,590,US,US-AL,"-87.63249969482422, 34.849998474121094"
791,0J0,small_airport,Abbeville Municipal Airport,468,US,US-AL,"-85.23880004882812, 31.600200653076172"
1500,15A,small_airport,Mark Reynolds/North Mobile County Airport,60,US,US-AL,"-87.98059844970703, 30.91320037841797"
1786,1AL2,small_airport,Tri-L Acres Airport,580,US,US-AL,"-86.59750366210938, 33.248600006103516"
1788,1AL4,small_airport,Elsanor Airport,180,US,US-AL,"-87.55940246582031, 30.544700622558594"
1789,1AL5,small_airport,Berry Field,170,US,US-AL,"-87.747802734375, 30.63640022277832"
1792,1AL8,small_airport,Moore Field,730,US,US-AL,"-86.47440338134766, 33.61109924316406"
2029,1M3,small_airport,Ardmore Airport,920,US,US-AL,"-86.88469696044922, 34.977901458740234"
2558,23A,small_airport,Mallard Airport,185,US,US-AL,"-88.26809692382812, 32.49509811401367"
2686,25A,small_airport,Mcminn Airport,680,US,US-AL,"-85.82550048828125, 33.73979949951172"
2747,26AL,small_airport,Richardson Field,180,US,US-AL,"-88.27860260009766, 30.62420082092285"
2801,27AL,small_airport,Little Texas Airport,500,US,US-AL,"-85.55819702148438, 32.45349884033203"
2967,2A8,small_airport,Addison Municipal Airport,786,US,US-AL,"-87.158353, 34.217038"
2980,2AL1,small_airport,Collier Airpark,74,US,US-AL,"-87.77780151367188, 30.424100875854492"
2982,2AL3,small_airport,Emerald Mountain Airport,365,US,US-AL,"-86.11920166015625, 32.45539855957031"
2984,2AL5,small_airport,Flying J Ranch Airport,1430,US,US-AL,"-85.66500091552734, 34.392799377441406"
2985,2AL6,small_airport,Dale O. Galer Aerodrome,40,US,US-AL,"-88.197307, 30.491981"
2986,2AL7,small_airport,Mount Aero Lake Farm Airport,625,US,US-AL,"-86.72309875488281, 34.062801361083984"
2987,2AL8,small_airport,Finkley Farm Airport,413,US,US-AL,"-85.24810028076172, 32.42110061645508"
3944,36AL,small_airport,Hidden Springs Airpark,346,US,US-AL,"-85.534407, 31.491973"
4143,3A0,small_airport,Grove Hill Municipal Airport,478,US,US-AL,"-87.76139831542969, 31.689300537109375"
4158,3AL1,small_airport,Flying H Ranch Airport,264,US,US-AL,"-85.685302734375, 31.050399780273438"
4162,3AL5,small_airport,Edwards Farm Airport,750,US,US-AL,"-85.76390075683594, 33.83530044555664"
4163,3AL6,small_airport,Town & Country Airpark,730,US,US-AL,"-86.4124984741211, 33.4901008605957"
4164,3AL7,small_airport,Flowers Field,280,US,US-AL,"-87.5199966430664, 32.28499984741211"
...,...,...,...,...,...,...,...
27680,KJFX,small_airport,Walker County Airport-Bevill Field,482,US,US-AL,"-87.31420135, 33.90200043"
27684,KJKA,small_airport,Jack Edwards Airport,17,US,US-AL,"-87.67179871, 30.29050064"
27929,KM22,small_airport,Bill Pugh Field,723,US,US-AL,"-87.711304, 34.445301"
27954,KM55,small_airport,Lamar County Airport,463,US,US-AL,"-88.1155014038086, 33.84669876098633"
27976,KM95,small_airport,Richard Arthur Field,357,US,US-AL,"-87.815002, 33.7122"
28009,KMDQ,small_airport,Madison County Executive Airport-Tom Sharp Jr ...,756,US,US-AL,"-86.55750275, 34.8614006"
28032,KMGM,large_airport,Montgomery Regional (Dannelly Field) Airport,221,US,US-AL,"-86.39399719, 32.30059814"
28098,KMOB,large_airport,Mobile Regional Airport,219,US,US-AL,"-88.242797851562, 30.691200256348"
28128,KMSL,medium_airport,Northwest Alabama Regional Airport,551,US,US-AL,"-87.61019897, 34.74530029"
28150,KMVC,small_airport,Monroe County Aeroplex Airport,419,US,US-AL,"-87.350996, 31.458"
28165,KMXF,medium_airport,Maxwell Air Force Base,171,US,US-AL,"-86.365799, 32.3829"
28212,KNBJ,small_airport,Naval Outlying Field Barin,54,US,US-AL,"-87.63529968259999, 30.389099121100003"
28219,KNFD,small_airport,Summerdale Nolf Airport,149,US,US-AL,"-87.64550018310547, 30.507699966430664"
28253,KNQB,small_airport,Silverhill Nolf Airport,129,US,US-AL,"-87.80970001220703, 30.563600540161133"
28430,KOZR,medium_airport,Cairns AAF (Fort Rucker) Air Field,301,US,US-AL,"-85.71340179, 31.27569962"
28596,KPLR,small_airport,St Clair County Airport,485,US,US-AL,"-86.249099731445, 33.558799743652"
28631,KPRN,small_airport,Mac Crenshaw Memorial Airport,451,US,US-AL,"-86.61070251, 31.84569931"
28680,KPYP,small_airport,Centre-Piedmont-Cherokee County Regional Airport,596,US,US-AL,"-85.610069, 34.089977"
29917,KSCD,small_airport,Merkel Field Sylacauga Municipal Airport,569,US,US-AL,"-86.30549621582031, 33.17179870605469"
29931,KSEM,small_airport,Craig Field,166,US,US-AL,"-86.987800598145, 32.343898773193"
30106,KTCL,medium_airport,Tuscaloosa Regional Airport,170,US,US-AL,"-87.611396789551, 33.220600128174"
30149,KTOI,medium_airport,Troy Municipal Airport at N Kenneth Campbell F...,398,US,US-AL,"-86.012101, 31.860399"
30541,L44,small_airport,Moundville Airport,162,US,US-AL,"-87.6406021118164, 32.96820068359375"
32622,M38,small_airport,Hazel Green Airport,814,US,US-AL,"-86.64689636230469, 34.91619873046875"
40714,S63,small_airport,Skyharbor Airport,125,US,US-AL,"-87.10420227050781, 32.366798400878906"
49078,US-0064,small_airport,Hickory Grove STOLport,700,US,US-AL,"-85.702796936, 33.901699066199996"
49623,US-0608,small_airport,Hazel Green Acres Airport,908,US,US-AL,"-86.692304, 34.980471"
49697,US-0682,small_airport,J5 Mike Airport,680,US,US-AL,"-86.222286, 34.666347"
49700,US-0685,small_airport,Rocky Springs Airpark,649,US,US-AL,"-87.077074, 33.988596"
49701,US-0686,small_airport,Treeo Airport,130,US,US-AL,"-87.822583, 30.591805"

Number of airports in the "dim_airports" can be matched to the number in the original "airport" table.

**temperature**

In [164]:
%%sql
SELECT * FROM dim_temperature
WHERE "State Code" = 'AL'

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('AL', 18.6, 26.9, 17.9, 8.4)]

In [165]:
# original temperature table
spring = round(temperature[(temperature.dt.str.contains("-03-|-04-|-05-")) & (temperature.State == "Alabama")]["AverageTemperature"].astype(float).mean(), 1)
summer = round(temperature[(temperature.dt.str.contains("-06-|-07-|-08-")) & (temperature.State == "Alabama")]["AverageTemperature"].astype(float).mean(), 1)
autumn = round(temperature[(temperature.dt.str.contains("-09-|-10-|-11-")) & (temperature.State == "Alabama")]["AverageTemperature"].astype(float).mean(), 1)
winter = round(temperature[(temperature.dt.str.contains("-12-|-01-|-02-")) & (temperature.State == "Alabama")]["AverageTemperature"].astype(float).mean(), 1)
print("Fall:{}\tSummer:{}\tSpring:{}\tWinter:{}".format(autumn, summer, spring, winter))

Fall:17.4	Summer:26.0	Spring:17.0	Winter:8.0

The temperature in "dim_temperature" is a little higher than original "temperature" table.

**immigration**

In [167]:
# %%sql
# SELECT * FROM fact_immigration LIMIT 5;

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('5901585', 2016, 4, '111', '111', 'CHM', datetime.date(2016, 4, 1), 1, 'NY', None, 21, 2, 1, datetime.date(2016, 5, 2), 'A', None, None, 1995, datetime.date(2016, 6, 30), 'F', 'AC', '42339986533', None, 'WT'),
 ('5901589', 2016, 4, '111', '111', 'CHM', datetime.date(2016, 4, 1), 9, 'NJ', None, 37, 2, 1, datetime.date(2016, 5, 2), 'A', None, None, 1979, datetime.date(2016, 6, 29), 'M', None, '42309454033', None, 'WT'),
 ('5902170', 2016, 4, '112', '112', 'BLA', datetime.date(2016, 4, 1), 9, 'OR', None, None, 2, 1, datetime.date(2016, 5, 2), 'A', None, None, None, datetime.date(2016, 6, 29), 'M', None, '86558290728', None, 'WT'),
 ('5909168', 2016, 4, '373', '373', 'WPB', datetime.date(2016, 4, 1), 9, 'FL', datetime.date(2016, 4, 4), 33, 1, 1, datetime.date(2016, 5, 5), 'A', 'D', 'M', 1983, datetime.date(2016, 9, 30), 'X', None, '49468112027', None, 'B1'),
 ('5910502', 2016, 4, '464', '438', 'PEV', datetime.date(2016, 4, 1), 1, 'FL', None, 33, 1, 1, datetime.date(2016, 5, 6), 'A', 'W', 'M', 1983, datetime.date(2016, 10, 1), 'M', 'MM', '12797272727', '04242', 'B1')]

In [174]:
%%sql
SELECT COUNT(*) FROM fact_immigration
WHERE i94addr = 'AL'

 * postgresql://udacity-data-pipelines:***@redshift-cluster-1.cxdkjytbphwr.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8036,)]

In [169]:
# original immigration
immigration[immigration.i94addr == "AL"].count()

8188

The information listed in the "fact_immigration" is the very close to the information in the original "immigration" table.

In conclusion, the information in the original tables is pretty close to the information in the normalized tables.

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

In [392]:
# %%sql
# SELECT * FROM dim_cities LIMIT 5

* **dim_cities**:
    * "State Code" (PK): Code for states.
    * "Median Age": Median Age for population for US 2015 Census.
    * "Male Population": Male population for US 2015 Census.
    * "Female Population": Female Population for US 2015 Census.
    * "Total Population": Total Population for US 2015 Census.
    * "Number of Veterans": Number of Veterans for US 2015 Census.
    * "Foreign-born": Foreign-born population for US 2015 Census.
    * "Average Household Size": Average Household Size for US 2015 Census.
    * "American Indian and Alaska Native": American Indian and Alaska Native population for US 2015 Census.
    * "Asian": Asian population for US 2015 Census.
    * "Hispanic or Latino": Hispanic or Latino population for US 2015 Census.
    * "White": White population for US 2015 Census.

In [393]:
# %%sql
# SELECT * FROM dim_airports LIMIT 5

* **dim_airports**:
    * "region" (PK): Code for states.
    * "totalAirport": Number of airports in the state (including small, medium, and large airports).

In [394]:
# %%sql
# SELECT * FROM dim_temperature LIMIT 5

* **dim_temperature**:
    * "State Code" (PK): Code for states.
    * "FallAvgTemp": Average temperature in Fall (Sep, Oct, Nov) from 2003 onwards.
    * "SummerAvgTemp": Average temperature in Summer (Jun, Jul, Oct) from 2003 onwards.
    * "	SpringAvgTemp": Average temperature in Spring (Mar, Apr, May) from 2003 onwards.
    * "WinterAvgTemp": Average temperature in Winter (Dec, Jan, Feb) from 2003 onwards.

In [179]:
# %%sql
# SELECT * FROM fact_tourists LIMIT 5;

* **fact_tourists**:
    * "cicid" (PK): cic id for tourists.
    * "i94yr": i94 filling year.
    * "i94mon": i94 filling month.
    * "i94cit": country codes.
    * "i94res": country codes.
    * "i94port": port initials.
    * "arrdate": Arrival Date in the USA.
    * "i94mode": 1 = 'Air, '2 = 'Sea', 3 = 'Land', 9 = 'Not reported' ;.
    * "i94addr" (FK): US state codes.
    * "depdate": Departure Date from the USA.
    * "i94bir": Respondant birth year.
    * "i94visa": visa codes, 1 = Business, 2 = Pleasure, 3 = Student.
    * "count": Used for summary statistics.
    * "dtadfile": Date added to I-94 Files.
    * "visapost":  Department of State where where Visa was issued.
    * "entdepa": Arrival Flag - admitted or paroled into the U.S..
    * "entdepd": Departure Flag - Departed, lost I-94 or is deceased.
    * "matflag": Match flag - Match of arrival and departure records.    
    * "biryear": 4 digit year of birth.
    * "dtaddto": Date to which admitted to U.S. (allowed to stay until).
    * "gender": Non-immigrant sex.
    * "airline": Airline used to arrive in U.S..
    * "admnum": Admission Number.
    * "fltno": Flight number of Airline used to arrive in U.S..
    * "visatype": Class of admission legally admitting the non-immigrant to temporarily stay in U.S..

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
    * For this project, we used Python, PySpark, SQL, AWS S3, and AWS Redshift.  
        * Python handles small data well and easily while PySpark deals with big data quite well.   
        * And SQL is a query language which has been used in many DBMSs. And it can also been deployed in Python and PySpark.  
        * We use AWS S3 to keep a copy of all the staging files and copy these staging files directly from S3 to Redshift.
* Propose how often the data should be updated and why.
    * The data should be updated monthly since the immigration data is collected monthly while the other data sources are refreshed less frequently.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
     * Use PySpark to build ETL processes and save all the data as parquet files in S3.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
     * Use Airflow to schedule the pipelines which connect all the data sources, data warehouse, and the the dashboard.
 * The database needed to be accessed by 100+ people.
     * Create IAM User groups for the different users.